# PySpark YouTube Course - Lesson 03

This notebook contains all the materials and notes from the PySpark Course: 'PySpark - Aula 03 - Union / Joins / When - Otherwise / Collect' by DataDev Academy, available on YouTube. You can find the video [here](https://www.youtube.com/watch?v=EoI3XwxCkfI).

## Summary

- [PySpark YouTube Course - Lesson 03](#pyspark-youtube-course---lesson-03)
  - [Summary](#summary)
  - [Importing PySpark](#importing-pyspark)
  - [Starting PySpark Session](#starting-pyspark-session)
  - [Reading a File](#reading-a-file)
  - [Displaying the DataFrame](#displaying-the-dataframe)
  - [PySpark 01 Changes](#pyspark-01-changes)
  - [PySpark 02 Changes](#pyspark-02-changes)
  - [Distinct](#distinct)
  - [Collect](#collect)
  - [When / Otherwise](#when--otherwise)
  - [Union / Concat](#union--concat)
  - [Joins](#joins)
    - [Simple Join](#simple-join)
    - [Inner Join](#inner-join)
    - [Left Join](#left-join)
    - [Right Join](#right-join)
    - [Full Join](#full-join)
    - [Semi Join](#semi-join)
    - [Anti Join](#anti-join)

## Importing PySpark

In [39]:
# Importing PySpark modules
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window  # Importing window functions

## Starting PySpark Session

In [40]:
# Creating a Spark session
# - master: defines the cluster manager, 'local' means running on a local machine
# - appName: sets the name of your application
spark = SparkSession.builder \
    .master("local") \
    .appName("pyspark-03") \
    .getOrCreate()

## Reading a File

In [41]:
# Reading a CSV file into a DataFrame
# - path: specifies the location of the file
# - header: indicates if the file contains a header row
# - inferSchema: automatically infers the data types of the columns
df = spark.read.csv("./data/wc2018-players.csv", header=True, inferSchema=True)

## Displaying the DataFrame

In [42]:
# - show(5): shows the first 5 rows of the DataFrame
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

## PySpark 01 Changes

In [43]:
# Renaming columns in the DataFrame
# - withColumnRenamed("oldName", "newName"): renames a column from oldName to newName
df = df.withColumnRenamed("Pos.", "Position") \
       .withColumnRenamed("#", "Number")

In [44]:
# Extracting and converting components from the "Birth Date" column
df = df.withColumn("Day", split(col("Birth Date"), "\\.").getItem(0).cast(IntegerType())) \
       .withColumn("Month", split(col("Birth Date"), "\\.").getItem(1).cast(IntegerType())) \
       .withColumn("Year", split(col("Birth Date"), "\\.").getItem(2).cast(IntegerType()))

## PySpark 02 Changes

In [45]:
# Copying the DataFrame to a new variable
# - df2 = df: creates a copy of the DataFrame df and assigns it to a new variable df2
df2 = df

# Dropping the "Birth Date" column from the DataFrame
# - drop(col("Birth Date")): removes the "Birth Date" column from the DataFrame
df = df.drop(col("Birth Date"))

## Distinct

In [46]:
# Select the "Team" column and display distinct values
# - select(col("Team")): selects the "Team" column from the DataFrame
# - distinct(): returns a new DataFrame containing only distinct (unique) rows from the selected column
# - show(50): displays the first 50 distinct values from the "Team" column
df.select(col("Team")).distinct().show(50)

+--------------+
|          Team|
+--------------+
|        Russia|
|       Senegal|
|        Sweden|
|       IR Iran|
|       Germany|
|        France|
|     Argentina|
|       Belgium|
|          Peru|
|       Croatia|
|       Nigeria|
|Korea Republic|
|         Spain|
|       Denmark|
|       Morocco|
|        Panama|
|       Iceland|
|       Uruguay|
|        Mexico|
|       Tunisia|
|  Saudi Arabia|
|   Switzerland|
|        Brazil|
|         Japan|
|       England|
|        Poland|
|      Portugal|
|     Australia|
|    Costa Rica|
|         Egypt|
|        Serbia|
|      Colombia|
+--------------+

## Collect

In [47]:
# Select the "Team" column and collect distinct values into a list
# - select(col("Team")): selects the "Team" column from the DataFrame
# - distinct(): returns a new DataFrame containing only distinct (unique) rows from the selected column
# - collect(): collects the data as a list of Row objects
list = df.select(col("Team")).distinct().collect()

# Display the list of distinct teams
list

[Row(Team='Russia'),
 Row(Team='Senegal'),
 Row(Team='Sweden'),
 Row(Team='IR Iran'),
 Row(Team='Germany'),
 Row(Team='France'),
 Row(Team='Argentina'),
 Row(Team='Belgium'),
 Row(Team='Peru'),
 Row(Team='Croatia'),
 Row(Team='Nigeria'),
 Row(Team='Korea Republic'),
 Row(Team='Spain'),
 Row(Team='Denmark'),
 Row(Team='Morocco'),
 Row(Team='Panama'),
 Row(Team='Iceland'),
 Row(Team='Uruguay'),
 Row(Team='Mexico'),
 Row(Team='Tunisia'),
 Row(Team='Saudi Arabia'),
 Row(Team='Switzerland'),
 Row(Team='Brazil'),
 Row(Team='Japan'),
 Row(Team='England'),
 Row(Team='Poland'),
 Row(Team='Portugal'),
 Row(Team='Australia'),
 Row(Team='Costa Rica'),
 Row(Team='Egypt'),
 Row(Team='Serbia'),
 Row(Team='Colombia')]

In [48]:
# Access the first element in the list of distinct teams
# - list[0]: retrieves the first element of the list, which is a Row object containing the first distinct team
list[0]

Row(Team='Russia')

In [49]:
# Access the first value within the first Row object
# - list[0][0]: retrieves the first value from the first Row object in the list. This value is the distinct team name.
list[0][0]

'Russia'

In [50]:
# Check the type of the value retrieved
# - type(list[0][0]): returns the data type of the value from the first Row object
type(list[0][0])

str

In [51]:
# Create an empty list to store team names
country = []

# Iterate over the list of distinct teams and append each team name to the 'country' list
# - for i in list: iterates through each Row object in the list
# - country.append(i[0]): appends the first value (team name) from each Row object to the 'country' list
for i in list:
    country.append(i[0])

# Display the list of team names
country

['Russia',
 'Senegal',
 'Sweden',
 'IR Iran',
 'Germany',
 'France',
 'Argentina',
 'Belgium',
 'Peru',
 'Croatia',
 'Nigeria',
 'Korea Republic',
 'Spain',
 'Denmark',
 'Morocco',
 'Panama',
 'Iceland',
 'Uruguay',
 'Mexico',
 'Tunisia',
 'Saudi Arabia',
 'Switzerland',
 'Brazil',
 'Japan',
 'England',
 'Poland',
 'Portugal',
 'Australia',
 'Costa Rica',
 'Egypt',
 'Serbia',
 'Colombia']

## When / Otherwise

In [52]:
# Add a new column "New Column" with conditional values
# - when(col("Team") == "Argentina", "ARG"): sets the value to "ARG" if the "Team" column is "Argentina"
# - otherwise("NOT ARG"): sets the value to "NOT ARG" for all other cases
# - show(50): displays the first 50 rows of the DataFrame with the new column
df.withColumn("New Column", when(col("Team") == "Argentina", "ARG").otherwise("NOT ARG")).show(50)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|New Column|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|       ARG|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|       ARG|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|       ARG|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|       ARG|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|       ARG|
|Argentina|     4|      DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|       ARG|
|Argentina|     5|      MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|       ARG|
|Argentina|     7|      MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|       ARG|
|Argentina|    14|      DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|       ARG|
|Argentina|    21|      FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|       ARG|
|Argentina|    19|      FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|       ARG|
|Argentina|     9|      FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|       ARG|
|Argentina|    11|      MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|       ARG|
|Argentina|    20|      MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|       ARG|
|Argentina|    13|      MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|    76| 15|   12|1992|       ARG|
|Argentina|     8|      DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|       ARG|
|Argentina|    23|      GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|       ARG|
|Argentina|     2|      DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|       ARG|
|Argentina|    17|      DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|       ARG|
|Argentina|    16|      DF|       ROJO Marcos|      ROJO|Manchester United...|   189|    82| 20|    3|1990|       ARG|
|Argentina|     6|      DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|       ARG|
|Argentina|    12|      GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|       ARG|
|Argentina|     1|      GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|       ARG|
|Australia|    16|      DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|    63| 16|   12|1990|   NOT ARG|
|Australia|    10|      FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|    66|  5|   10|1988|   NOT ARG|
|Australia|    19|      DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|    70| 27|    7|1992|   NOT ARG|
|Australia|     3|      DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|    71|  5|    4|1988|   NOT ARG|
|Australia|    13|      MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|    72| 15|    9|1990|   NOT ARG|
|Australia|    14|      FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|    72| 29|    7|1993|   NOT ARG|
|Australia|    21|      FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|    72| 10|   11|1992|   NOT ARG|
|Australia|    17|      FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|    73|  4|    1|1999|   NOT ARG|
|Australia|     4|      FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|    76|  6|   12|1979|   NOT ARG|
|Australia|     8|      MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|    76| 25|    9|1992|   NOT ARG|
|Australia|    20|      DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|    76|  5|    1|1992|   NOT ARG|
|Australia|    22|      MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|    77|  7|    3|1993|   NOT ARG|
|Australia|     5|      DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|    78|  4|    8|1985|   NOT ARG|
|Australia|    15|      MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|    78|  3|    8|1984|   NOT ARG|
|Australia|     9|      FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|    80| 22|    7|1991|   NOT ARG|
|Australia|     1|      GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|    82|  8|    4|1992|   NOT ARG|
|Australia|     6|      DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|    83|  8|   12|1989|   NOT ARG|
|Australia|     7|      FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|    84|  4|    2|1991|   NOT ARG|
|Australia|     2|      DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|    85| 28|    4|1994|   NOT ARG|
|Australia|    11|      FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|    85| 17|   12|1992|   NOT ARG|
|Australia|    12|      GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|   NOT ARG|
|Australia|    23|      MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|    88| 16|   12|1992|   NOT ARG|
|Australia|    18|      GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|    94| 27|    3|1985|   NOT ARG|
|  Belgium|    14|      FW|     MERTENS Dries|   MERTENS|    SSC Napoli (ITA)|   169|    61|  6|    5|1987|   NOT ARG|
|  Belgium|    11|      MF|  CARRASCO Yannick|  CARRASCO|Dalian Yifang FC ...|   180|    67|  4|    9|1993|   NOT ARG|
|  Belgium|     7|      MF|   DE BRUYNE Kevin| DE BRUYNE|Manchester City F...|   181|    70| 28|    6|1991|   NOT ARG|
|  Belgium|    16|      MF|    HAZARD Thorgan| T. HAZARD|VfL Borussia Mönc...|   174|    70| 29|    3|1993|   NOT ARG|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+
only showing top 50 rows

In [53]:
# Define lists of team names for different continents
EU = ["Sweden", "Germany", "France", "Belgium", "Croatia", "Spain", "Denmark", "Iceland", "Switzerland", "England", "Poland", "Portugal", "Serbia"]
AS = ["Russia", "IR Iran", "Nigeria", "Korea Republic", "Saudi Arabia", "Japan"]
AF = ["Senegal", "Morocco", "Tunisia", "Egypt"]
OC = ["Australia"]
NA = ["Panama", "Mexico", "Costa Rica"]
SA = ["Argentina", "Peru", "Uruguay", "Brazil", "Colombia"]

In [54]:
# Add a new column "Continent" with continent names based on the team
# - when(col("Team").isin(EU), "EU"): sets the continent to "EU" if the team is in the EU list
# - when(col("Team").isin(AS), "AS"): sets the continent to "AS" if the team is in the AS list
# - when(col("Team").isin(AF), "AF"): sets the continent to "AF" if the team is in the AF list
# - when(col("Team").isin(OC), "OC"): sets the continent to "OC" if the team is in the OC list
# - when(col("Team").isin(NA), "NA"): sets the continent to "NA" if the team is in the NA list
# - when(col("Team").isin(SA), "SA"): sets the continent to "SA" if the team is in the SA list
# - otherwise("CHECK"): sets the continent to "CHECK" if the team does not match any of the lists
# - show(50): displays the first 50 rows of the DataFrame with the new "Continent" column
df = df.withColumn("Continent", when(col("Team").isin(EU), "EU") \
                               .when(col("Team").isin(AS), "AS") \
                               .when(col("Team").isin(AF), "AF") \
                               .when(col("Team").isin(OC), "OC") \
                               .when(col("Team").isin(NA), "NA") \
                               .when(col("Team").isin(SA), "SA") \
                               .otherwise("CHECK"))
df.show(50)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+---------+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|Continent|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+---------+
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|       SA|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|       SA|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|       SA|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|       SA|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|       SA|
|Argentina|     4|      DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|       SA|
|Argentina|     5|      MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|       SA|
|Argentina|     7|      MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|       SA|
|Argentina|    14|      DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|       SA|
|Argentina|    21|      FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|       SA|
|Argentina|    19|      FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|       SA|
|Argentina|     9|      FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|       SA|
|Argentina|    11|      MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|       SA|
|Argentina|    20|      MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|       SA|
|Argentina|    13|      MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|    76| 15|   12|1992|       SA|
|Argentina|     8|      DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|       SA|
|Argentina|    23|      GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|       SA|
|Argentina|     2|      DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|       SA|
|Argentina|    17|      DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|       SA|
|Argentina|    16|      DF|       ROJO Marcos|      ROJO|Manchester United...|   189|    82| 20|    3|1990|       SA|
|Argentina|     6|      DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|       SA|
|Argentina|    12|      GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|       SA|
|Argentina|     1|      GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|       SA|
|Australia|    16|      DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|    63| 16|   12|1990|       OC|
|Australia|    10|      FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|    66|  5|   10|1988|       OC|
|Australia|    19|      DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|    70| 27|    7|1992|       OC|
|Australia|     3|      DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|    71|  5|    4|1988|       OC|
|Australia|    13|      MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|    72| 15|    9|1990|       OC|
|Australia|    14|      FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|    72| 29|    7|1993|       OC|
|Australia|    21|      FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|    72| 10|   11|1992|       OC|
|Australia|    17|      FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|    73|  4|    1|1999|       OC|
|Australia|     4|      FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|    76|  6|   12|1979|       OC|
|Australia|     8|      MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|    76| 25|    9|1992|       OC|
|Australia|    20|      DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|    76|  5|    1|1992|       OC|
|Australia|    22|      MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|    77|  7|    3|1993|       OC|
|Australia|     5|      DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|    78|  4|    8|1985|       OC|
|Australia|    15|      MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|    78|  3|    8|1984|       OC|
|Australia|     9|      FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|    80| 22|    7|1991|       OC|
|Australia|     1|      GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|    82|  8|    4|1992|       OC|
|Australia|     6|      DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|    83|  8|   12|1989|       OC|
|Australia|     7|      FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|    84|  4|    2|1991|       OC|
|Australia|     2|      DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|    85| 28|    4|1994|       OC|
|Australia|    11|      FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|    85| 17|   12|1992|       OC|
|Australia|    12|      GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|       OC|
|Australia|    23|      MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|    88| 16|   12|1992|       OC|
|Australia|    18|      GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|    94| 27|    3|1985|       OC|
|  Belgium|    14|      FW|     MERTENS Dries|   MERTENS|    SSC Napoli (ITA)|   169|    61|  6|    5|1987|       EU|
|  Belgium|    11|      MF|  CARRASCO Yannick|  CARRASCO|Dalian Yifang FC ...|   180|    67|  4|    9|1993|       EU|
|  Belgium|     7|      MF|   DE BRUYNE Kevin| DE BRUYNE|Manchester City F...|   181|    70| 28|    6|1991|       EU|
|  Belgium|    16|      MF|    HAZARD Thorgan| T. HAZARD|VfL Borussia Mönc...|   174|    70| 29|    3|1993|       EU|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+---------+
only showing top 50 rows

In [55]:
# Filter the DataFrame to include only rows where the "Continent" column is "CHECK"
# - where(col("Continent") == "CHECK"): selects rows where the continent is marked as "CHECK"
# - show(): displays the filtered rows
df.where(col("Continent") == "CHECK").show()

+----+------+--------+-----------------+----------+----+------+------+---+-----+----+---------+
|Team|Number|Position|FIFA Popular Name|Shirt Name|Club|Height|Weight|Day|Month|Year|Continent|
+----+------+--------+-----------------+----------+----+------+------+---+-----+----+---------+
+----+------+--------+-----------------+----------+----+------+------+---+-----+----+---------+

## Union / Concat

In [56]:
# Filter the DataFrame to include only rows where the "Continent" column is "SA" (South America)
df_sa = df.where(col("Continent") == "SA")

# Select distinct teams from the filtered South American DataFrame
df_sa.select(col("Team")).distinct().show()

+---------+
|     Team|
+---------+
|Argentina|
|     Peru|
|  Uruguay|
|   Brazil|
| Colombia|
+---------+

In [57]:
# Filter the DataFrame to include only rows where the "Continent" column is "NA" (North America)
df_na = df.where(col("Continent") == "NA")

# Select distinct teams from the filtered North American DataFrame
df_na.select(col("Team")).distinct().show()

+----------+
|      Team|
+----------+
|    Panama|
|    Mexico|
|Costa Rica|
+----------+

In [58]:
# Combine the South American and North American DataFrames into a single DataFrame
# - union(df_na): combines the rows from df_sa and df_na into a single DataFrame
#   Note: The number and type of columns must be the same in both DataFrames for the union operation to work
df_america = df_sa.union(df_na)

# Select distinct teams from the combined DataFrame of South American and North American teams
df_america.select(col("Team")).distinct().show()

+----------+
|      Team|
+----------+
| Argentina|
|      Peru|
|   Uruguay|
|    Brazil|
|  Colombia|
|    Panama|
|    Mexico|
|Costa Rica|
+----------+

In [59]:
# Display the first 100 rows of the combined DataFrame
# - show(100): displays the first 100 rows of df_america
df_america.show(100)

+---------+------+--------+--------------------+-------------+--------------------+------+------+---+-----+----+---------+
|     Team|Number|Position|   FIFA Popular Name|   Shirt Name|                Club|Height|Weight|Day|Month|Year|Continent|
+---------+------+--------+--------------------+-------------+--------------------+------+------+---+-----+----+---------+
|Argentina|     3|      DF|  TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|       SA|
|Argentina|    22|      MF|      PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|       SA|
|Argentina|    15|      MF|      LANZINI Manuel|      LANZINI|West Ham United F...|   167|    66| 15|    2|1993|       SA|
|Argentina|    18|      DF|      SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|       SA|
|Argentina|    10|      FW|        MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|       SA|
|Argentina|     4|      DF|    ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|       SA|
|Argentina|     5|      MF|        BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|       SA|
|Argentina|     7|      MF|         BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|       SA|
|Argentina|    14|      DF|   MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|       SA|
|Argentina|    21|      FW|        DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|       SA|
|Argentina|    19|      FW|       AGUERO Sergio|       AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|       SA|
|Argentina|     9|      FW|     HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|       SA|
|Argentina|    11|      MF|      DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|       SA|
|Argentina|    20|      MF|    LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|       SA|
|Argentina|    13|      MF|    MEZA Maximiliano|         MEZA|CA Independiente ...|   180|    76| 15|   12|1992|       SA|
|Argentina|     8|      DF|        ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|       SA|
|Argentina|    23|      GK|  CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|       SA|
|Argentina|     2|      DF|     MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|       SA|
|Argentina|    17|      DF|    OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|       SA|
|Argentina|    16|      DF|         ROJO Marcos|         ROJO|Manchester United...|   189|    82| 20|    3|1990|       SA|
|Argentina|     6|      DF|      FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|       SA|
|Argentina|    12|      GK|       ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|       SA|
|Argentina|     1|      GK|       GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|       SA|
|   Brazil|    18|      MF|                FRED|         FRED|FC Shakhtar Donet...|   169|    64|  5|    3|1993|       SA|
|   Brazil|    21|      FW|              TAISON|       TAISON|FC Shakhtar Donet...|   172|    64| 13|    1|1988|       SA|
|   Brazil|    17|      MF|         FERNANDINHO|  FERNANDINHO|Manchester City F...|   179|    67|  4|    5|1985|       SA|
|   Brazil|    22|      DF|              FAGNER|       FAGNER|SC Corinthians (BRA)|   168|    67| 11|    6|1989|       SA|
|   Brazil|    10|      FW|              NEYMAR|    NEYMAR JR|Paris Saint-Germa...|   175|    68|  5|    2|1992|       SA|
|   Brazil|    11|      MF|   PHILIPPE COUTINHO|  P. COUTINHO|  FC Barcelona (ESP)|   172|    68| 12|    6|1992|       SA|
|   Brazil|     7|      FW|       DOUGLAS COSTA|     D. COSTA|   Juventus FC (ITA)|   182|    70| 14|    9|1990|       SA|
|   Brazil|     6|      DF|         FILIPE LUIS|  FILIPE LUIS|Atletico Madrid (...|   182|    73|  9|    8|1985|       SA|
|   Brazil|     9|      FW|       GABRIEL JESUS|     G. JESUS|Manchester City F...|   175|    73|  3|    4|1997|       SA|
|   Brazil|    13|      DF|          MARQUINHOS|   MARQUINHOS|Paris Saint-Germa...|   183|    75| 14|    5|1994|       SA|
|   Brazil|    20|      FW|     ROBERTO FIRMINO|      FIRMINO|  Liverpool FC (ENG)|   181|    76|  2|   10|1991|       SA|
|   Brazil|    19|      MF|             WILLIAN|      WILLIAN|    Chelsea FC (ENG)|   175|    77|  9|    8|1988|       SA|
|   Brazil|     3|      DF|             MIRANDA|      MIRANDA|FC Internazionale...|   186|    78|  7|    9|1984|       SA|
|   Brazil|    14|      DF|              DANILO|       DANILO|Manchester City F...|   184|    78| 15|    7|1991|       SA|
|   Brazil|     2|      DF|        THIAGO SILVA|     T. SILVA|Paris Saint-Germa...|   183|    79| 22|    9|1984|       SA|
|   Brazil|    12|      DF|             MARCELO|      MARCELO|Real Madrid CF (ESP)|   174|    80| 12|    5|1988|       SA|
|   Brazil|    15|      MF|            PAULINHO|     PAULINHO|  FC Barcelona (ESP)|   181|    81| 25|    7|1988|       SA|
|   Brazil|     4|      DF|       PEDRO GEROMEL|      GEROMEL|   Grêmio FBPA (BRA)|   190|    84| 21|    9|1985|       SA|
|   Brazil|     5|      MF|            CASEMIRO|     CASEMIRO|Real Madrid CF (ESP)|   185|    84| 23|    2|1992|       SA|
|   Brazil|     8|      MF|      RENATO AUGUSTO|   R. AUGUSTO| Beijing Guoan (CHN)|   186|    86|  8|    2|1988|       SA|
|   Brazil|    23|      GK|             EDERSON|      EDERSON|Manchester City F...|   188|    86| 17|    8|1993|       SA|
|   Brazil|     1|      GK|             ALISSON|    A. BECKER|       AS Roma (ITA)|   193|    91|  2|   10|1992|       SA|
|   Brazil|    16|      GK|              CASSIO|       CASSIO|SC Corinthians (BRA)|   195|    92|  6|    6|1987|       SA|
| Colombia|    20|      MF|       QUINTERO Juan|  J. QUINTERO|CA River Plate (ARG)|   169|    64| 18|    1|1993|       SA|
| Colombia|    17|      DF|        MOJICA Johan|    J. MOJICA|     Girona FC (ESP)|   185|    66| 21|    8|1992|       SA|
| Colombia|    16|      MF|     LERMA Jefferson|     J. LERMA|    Levante UD (ESP)|   179|    70| 25|   10|1994|       SA|
| Colombia|     4|      DF|      ARIAS Santiago|        ARIAS| PSV Eindhoven (NED)|   177|    71| 13|    1|1992|       SA|
| Colombia|    15|      MF|        URIBE Mateus|     M. URIBE|  Club América (MEX)|   182|    71| 21|    3|1991|       SA|
| Colombia|     9|      FW|      FALCAO Radamel|       FALCAO|     AS Monaco (FRA)|   177|    72| 10|    2|1986|       SA|
| Colombia|    11|      MF|       CUADRADO Juan|     CUADRADO|   Juventus FC (ITA)|   179|    72| 26|    5|1988|       SA|
| Colombia|    18|      DF|         FABRA Frank|        FABRA|CA Boca Juniors (...|   172|    72| 22|    2|1991|       SA|
| Colombia|    21|      FW|      IZQUIERDO Jose|    IZQUIERDO|Brighton & Hove A...|   171|    73|  7|    7|1992|       SA|
| Colombia|     5|      MF|     BARRIOS  Wilmar|      BARRIOS|CA Boca Juniors (...|   178|    74| 16|   10|1993|       SA|
| Colombia|    19|      FW|        BORJA Miguel|     M. BORJA|  SE Palmeiras (BRA)|   183|    74| 26|    1|1993|       SA|
| Colombia|    10|      MF|     RODRIGUEZ James|        JAMES|FC Bayern München...|   180|    75| 12|    7|1991|       SA|
| Colombia|     7|      FW|        BACCA Carlos|        BACCA| Villarreal CF (ESP)|   181|    77|  8|    9|1986|       SA|
| Colombia|    14|      FW|         MURIEL Luis|    L. MURIEL|    Sevilla FC (ESP)|   178|    79| 16|    4|1991|       SA|
| Colombia|     1|      GK|        OSPINA David|       OSPINA|    Arsenal FC (ENG)|   183|    80| 31|    8|1988|       SA|
| Colombia|     3|      DF|       MURILLO Oscar|   O. MURILLO|    CF Pachuca (MEX)|   184|    80| 18|    4|1988|       SA|
| Colombia|    12|      GK|       VARGAS Camilo|    C. VARGAS|AC Deportivo Cali...|   185|    80|  9|    3|1989|       SA|
| Colombia|    22|      GK|       CUADRADO Jose|J.F. CUADRADO|CD Once Caldas (COL)|   180|    80|  1|    6|1985|       SA|
| Colombia|    23|      DF|    SANCHEZ Davinson|   D. SANCHEZ|Tottenham Hotspur...|   187|    81| 12|    6|1996|       SA|
| Colombia|     2|      DF|     ZAPATA Cristian|    C. ZAPATA|      AC Milan (ITA)|   187|    82| 30|    9|1986|       SA|
| Colombia|     6|      MF|      SANCHEZ Carlos|   C. SANCHEZ|  RCD Espanyol (ESP)|   182|    82|  6|    2|1986|       SA|
| Colombia|     8|      MF|        AGUILAR Abel|   AGUILAR T.|AC Deportivo Cali...|   185|    82|  6|    1|1985|       SA|
| Colombia|    13|      DF|          MINA Yerry|      Y. MINA|  FC Barcelona (ESP)|   194|    95| 23|    9|1994|       SA|
|     Peru|     7|      MF|       HURTADO Paolo|      HURTADO|Vitoria Guimaraes...|   174|    66| 27|    7|1990|       SA|
|     Peru|    11|      FW|        RUIDIAZ Raul|      RUIDIAZ|CA Monarcas Morel...|   169|    67| 25|    7|1990|       SA|
|     Peru|    22|      DF|       LOYOLA Nilson|       LOYOLA|    FBC Melgar (PER)|   179|    68| 26|   10|1994|       SA|
|     Peru|     8|      MF|     CUEVA Christian|        CUEVA|  Sao Paulo FC (BRA)|   169|    69| 23|   11|1991|       SA|
|     Peru|    19|      MF|      YOTUN Yoshimar|        YOTUN|Orlando City SC (...|   172|    69|  7|    4|1990|       SA|
|     Peru|    14|      MF|           POLO Andy|         POLO|Portland Timbers ...|   174|    71| 29|    9|1994|       SA|
|     Peru|    23|      MF|        AQUINO Pedro|       AQUINO|    Lobos BUAP (MEX)|   174|    71| 13|    4|1995|       SA|
|     Peru|    15|      DF|     RAMOS Christian|        RAMOS|CD Tiburones Rojo...|   182|    72|  4|   11|1988|       SA|
|     Peru|    20|      FW|       FLORES Edison|       FLORES|    Aalborg BK (DEN)|   170|    72| 14|    5|1994|       SA|
|     Peru|     6|      DF|       TRAUCO Miguel|       TRAUCO|   CR Flamengo (BRA)|   169|    74| 25|    8|1992|       SA|
|     Peru|     3|      DF|          CORZO Aldo|        CORZO|Universitario Lim...|   172|    75| 20|    5|1989|       SA|
|     Peru|    16|      MF|    CARTAGENA Wilder|    CARTAGENA|CD Tiburones Rojo...|   179|    76| 23|    9|1994|       SA|
|     Peru|     5|      DF|       ARAUJO Miguel|       ARAUJO|  Alianza Lima (PER)|   178|    77| 24|   10|1994|       SA|
|     Peru|    18|      FW|      CARRILLO Andre|     CARRILLO|    Watford FC (ENG)|   182|    77| 14|    6|1991|       SA|
|     Peru|     2|      DF|   RODRIGUEZ Alberto|    RODRIGUEZ|Atletico Junior (...|   179|    78| 31|    3|1984|       SA|
|     Peru|    12|      GK|       CACEDA Carlos|       CACEDA|Deportivo Municip...|   184|    78| 27|    9|1991|       SA|
|     Peru|     1|      GK|       GALLESE Pedro|      GALLESE|CD Tiburones Rojo...|   189|    79| 23|    2|1990|       SA|
|     Peru|    17|      DF|      ADVINCULA Luis|    ADVINCULA|    Lobos BUAP (MEX)|   178|    80|  2|    3|1990|       SA|
|     Peru|     4|      DF| SANTAMARIA Anderson|   SANTAMARIA|     Puebla FC (MEX)|   183|    84| 10|    1|1992|       SA|
|     Peru|    21|      GK|       CARVALLO Jose|     CARVALLO|Universidad Técni...|   182|    84|  1|    3|1986|       SA|
|     Peru|    10|      FW|    FARFAN Jefferson|       FARFAN|FC Lokomotiv Mosc...|   177|    85| 26|   10|1984|       SA|
|     Peru|    13|      MF|        TAPIA Renato|        TAPIA|Feyenoord Rotterd...|   185|    85| 28|    7|1995|       SA|
|     Peru|     9|      FW|      GUERRERO Paolo|     GUERRERO|   CR Flamengo (BRA)|   185|    88|  1|    1|1984|       SA|
|  Uruguay|     8|      MF|      NANDEZ Nahitan|       NANDEZ|CA Boca Juniors (...|   171|    61| 28|   12|1995|       SA|
|  Uruguay|    14|      MF|      TORREIRA Lucas|     TORREIRA|  UC Sampdoria (ITA)|   168|    61| 11|    2|1996|       SA|
|  Uruguay|    10|      FW|DE ARRASCAETA Gio...|DE ARRASCAETA|   Cruzeiro EC (BRA)|   172|    64|  1|    6|1994|       SA|
|  Uruguay|    17|      MF|        LAXALT Diego|       LAXALT|     Genoa CFC (ITA)|   178|    66|  7|    2|1993|       SA|
|  Uruguay|    20|      FW|URRETAVISCAYA Jon...|URRETAVISCAYA|  CF Monterrey (MEX)|   172|    66| 19|    3|1990|       SA|
|  Uruguay|     4|      DF|    VARELA Guillermo|       VARELA|    CA Penarol (URU)|   173|    70| 24|    3|1993|       SA|
|  Uruguay|     3|      DF|         GODIN Diego|        GODIN|Atletico Madrid (...|   185|    73| 16|    2|1986|       SA|
|  Uruguay|     6|      MF|   BENTANCUR Rodrigo|    BENTANCUR|   Juventus FC (ITA)|   187|    73| 25|    6|1997|       SA|
+---------+------+--------+--------------------+-------------+--------------------+------+------+---+-----+----+---------+
only showing top 100 rows

## Joins

In [60]:
# Display the first 5 rows of the DataFrame
# - show(5): displays the first 5 rows of df to provide a quick overview of the data
df.show(5)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+---------+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|Continent|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+---------+
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|       SA|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|       SA|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|       SA|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|       SA|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|       SA|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+---------+
only showing top 5 rows

In [61]:
# Filter the DataFrame to include only rows where the "Team" column is "Argentina"
# - where(col("Team") == "Argentina"): selects rows where the team is "Argentina"
arg = df.where(col("Team") == "Argentina")

# Filter the DataFrame to include only rows where the "Team" column is "Brazil"
# - where(col("Team") == "Brazil"): selects rows where the team is "Brazil"
bra = df.where(col("Team") == "Brazil")

In [62]:
# Drop specific columns from the Argentina DataFrame
# - drop(col("Club"), col("FIFA Popular Name"), col("Day"), col("Month"), col("Year"), col("Continent"), col("Weight")): 
arg = arg.drop(col("Club"), col("FIFA Popular Name"), col("Day"), col("Month"), col("Year"), col("Continent"), col("Weight"))

# Drop specific columns from the Brazil DataFrame
# - drop(col("Club"), col("FIFA Popular Name"), col("Day"), col("Month"), col("Year"), col("Continent"), col("Weight")): 
bra = bra.drop(col("Club"), col("FIFA Popular Name"), col("Day"), col("Month"), col("Year"), col("Continent"), col("Weight"))

In [63]:
# Display the first 5 rows of the filtered Argentina DataFrame with dropped columns
# - show(5): displays the first 5 rows of arg to provide a view of the data after column removal
arg.show(5)

+---------+------+--------+----------+------+
|     Team|Number|Position|Shirt Name|Height|
+---------+------+--------+----------+------+
|Argentina|     3|      DF|TAGLIAFICO|   169|
|Argentina|    22|      MF|     PAVÓN|   169|
|Argentina|    15|      MF|   LANZINI|   167|
|Argentina|    18|      DF|    SALVIO|   167|
|Argentina|    10|      FW|     MESSI|   170|
+---------+------+--------+----------+------+
only showing top 5 rows

In [64]:
# Display the first 5 rows of the filtered Brazil DataFrame with dropped columns
# - show(5): displays the first 5 rows of bra to provide a view of the data after column removal
bra.show(5)

+------+------+--------+-----------+------+
|  Team|Number|Position| Shirt Name|Height|
+------+------+--------+-----------+------+
|Brazil|    18|      MF|       FRED|   169|
|Brazil|    21|      FW|     TAISON|   172|
|Brazil|    17|      MF|FERNANDINHO|   179|
|Brazil|    22|      DF|     FAGNER|   168|
|Brazil|    10|      FW|  NEYMAR JR|   175|
+------+------+--------+-----------+------+
only showing top 5 rows

In [65]:
# Count the number of rows in the DataFrame filtered for "Argentina"
# - count(): returns the total number of rows in the DataFrame filtered for "Argentina"
arg.count()

23

In [66]:
# Count the number of rows in the DataFrame filtered for "Brazil"
# - count(): returns the total number of rows in the DataFrame filtered for "Brazil"
bra.count()

23

### Simple Join

100% Matching Join Data

In [67]:
# Perform an inner join between the "arg" DataFrame (Argentina) and the "bra" DataFrame (Brazil)
# - join(bra, arg.Number == bra.Number): joins the two DataFrames on the "Number" column, matching rows where "Number" values are equal
# - new_df: stores the resulting DataFrame after the join
# - show(23): displays the first 23 rows of the joined DataFrame to give an overview of the results
new_df = arg.join(bra, arg.Number == bra.Number)
new_df.show(23)

+---------+------+--------+----------+------+------+------+--------+-----------+------+
|     Team|Number|Position|Shirt Name|Height|  Team|Number|Position| Shirt Name|Height|
+---------+------+--------+----------+------+------+------+--------+-----------+------+
|Argentina|     3|      DF|TAGLIAFICO|   169|Brazil|     3|      DF|    MIRANDA|   186|
|Argentina|    22|      MF|     PAVÓN|   169|Brazil|    22|      DF|     FAGNER|   168|
|Argentina|    15|      MF|   LANZINI|   167|Brazil|    15|      MF|   PAULINHO|   181|
|Argentina|    18|      DF|    SALVIO|   167|Brazil|    18|      MF|       FRED|   169|
|Argentina|    10|      FW|     MESSI|   170|Brazil|    10|      FW|  NEYMAR JR|   175|
|Argentina|     4|      DF|   ANSALDI|   181|Brazil|     4|      DF|    GEROMEL|   190|
|Argentina|     5|      MF|    BIGLIA|   175|Brazil|     5|      MF|   CASEMIRO|   185|
|Argentina|     7|      MF|    BANEGA|   175|Brazil|     7|      FW|   D. COSTA|   182|
|Argentina|    14|      DF|MASCHERANO|   174|Brazil|    14|      DF|     DANILO|   184|
|Argentina|    21|      FW|    DYBALA|   177|Brazil|    21|      FW|     TAISON|   172|
|Argentina|    19|      FW|    AGÜERO|   172|Brazil|    19|      MF|    WILLIAN|   175|
|Argentina|     9|      FW|   HIGUAÍN|   184|Brazil|     9|      FW|   G. JESUS|   175|
|Argentina|    11|      MF|  DI MARÍA|   178|Brazil|    11|      MF|P. COUTINHO|   172|
|Argentina|    20|      MF|  LO CELSO|   177|Brazil|    20|      FW|    FIRMINO|   181|
|Argentina|    13|      MF|      MEZA|   180|Brazil|    13|      DF| MARQUINHOS|   183|
|Argentina|     8|      DF|     ACUÑA|   172|Brazil|     8|      MF| R. AUGUSTO|   186|
|Argentina|    23|      GK| CABALLERO|   186|Brazil|    23|      GK|    EDERSON|   188|
|Argentina|     2|      DF|   MERCADO|   181|Brazil|     2|      DF|   T. SILVA|   183|
|Argentina|    17|      DF|  OTAMENDI|   181|Brazil|    17|      MF|FERNANDINHO|   179|
|Argentina|    16|      DF|      ROJO|   189|Brazil|    16|      GK|     CASSIO|   195|
|Argentina|     6|      DF|     FAZIO|   199|Brazil|     6|      DF|FILIPE LUIS|   182|
|Argentina|    12|      GK|    ARMANI|   189|Brazil|    12|      DF|    MARCELO|   174|
|Argentina|     1|      GK|    GUZMÁN|   192|Brazil|     1|      GK|  A. BECKER|   193|
+---------+------+--------+----------+------+------+------+--------+-----------+------+

In [68]:
# Increment the "Number" column by 1 in the "arg" DataFrame (Argentina)
# - withColumn("Number", col("Number") + 1): creates a new column "Number" with each value incremented by 1
# - show(23): displays the first 23 rows of the updated "arg" DataFrame to show the changes
arg = arg.withColumn("Number", col("Number") + 1)
arg.show(23)

+---------+------+--------+----------+------+
|     Team|Number|Position|Shirt Name|Height|
+---------+------+--------+----------+------+
|Argentina|     4|      DF|TAGLIAFICO|   169|
|Argentina|    23|      MF|     PAVÓN|   169|
|Argentina|    16|      MF|   LANZINI|   167|
|Argentina|    19|      DF|    SALVIO|   167|
|Argentina|    11|      FW|     MESSI|   170|
|Argentina|     5|      DF|   ANSALDI|   181|
|Argentina|     6|      MF|    BIGLIA|   175|
|Argentina|     8|      MF|    BANEGA|   175|
|Argentina|    15|      DF|MASCHERANO|   174|
|Argentina|    22|      FW|    DYBALA|   177|
|Argentina|    20|      FW|    AGÜERO|   172|
|Argentina|    10|      FW|   HIGUAÍN|   184|
|Argentina|    12|      MF|  DI MARÍA|   178|
|Argentina|    21|      MF|  LO CELSO|   177|
|Argentina|    14|      MF|      MEZA|   180|
|Argentina|     9|      DF|     ACUÑA|   172|
|Argentina|    24|      GK| CABALLERO|   186|
|Argentina|     3|      DF|   MERCADO|   181|
|Argentina|    18|      DF|  OTAMENDI|   181|
|Argentina|    17|      DF|      ROJO|   189|
|Argentina|     7|      DF|     FAZIO|   199|
|Argentina|    13|      GK|    ARMANI|   189|
|Argentina|     2|      GK|    GUZMÁN|   192|
+---------+------+--------+----------+------+

### Inner Join

Shows only data that has matches

In [69]:
# Perform an inner join between the "arg" DataFrame (Argentina) and the "bra" DataFrame (Brazil) with an explicit join type
# - join(bra, arg["Number"] == bra["Number"], "inner"): performs an inner join between the two DataFrames on the "Number" column,
#   explicitly specifying the join type as "inner". This joins rows where "Number" values are equal in both DataFrames.
# - new_df: stores the resulting DataFrame after the join
# - show(23): displays the first 23 rows of the joined DataFrame to provide an overview of the results
new_df = arg.join(bra, arg["Number"] == bra["Number"], "inner")
new_df.show(23)

+---------+------+--------+----------+------+------+------+--------+-----------+------+
|     Team|Number|Position|Shirt Name|Height|  Team|Number|Position| Shirt Name|Height|
+---------+------+--------+----------+------+------+------+--------+-----------+------+
|Argentina|     4|      DF|TAGLIAFICO|   169|Brazil|     4|      DF|    GEROMEL|   190|
|Argentina|    23|      MF|     PAVÓN|   169|Brazil|    23|      GK|    EDERSON|   188|
|Argentina|    16|      MF|   LANZINI|   167|Brazil|    16|      GK|     CASSIO|   195|
|Argentina|    19|      DF|    SALVIO|   167|Brazil|    19|      MF|    WILLIAN|   175|
|Argentina|    11|      FW|     MESSI|   170|Brazil|    11|      MF|P. COUTINHO|   172|
|Argentina|     5|      DF|   ANSALDI|   181|Brazil|     5|      MF|   CASEMIRO|   185|
|Argentina|     6|      MF|    BIGLIA|   175|Brazil|     6|      DF|FILIPE LUIS|   182|
|Argentina|     8|      MF|    BANEGA|   175|Brazil|     8|      MF| R. AUGUSTO|   186|
|Argentina|    15|      DF|MASCHERANO|   174|Brazil|    15|      MF|   PAULINHO|   181|
|Argentina|    22|      FW|    DYBALA|   177|Brazil|    22|      DF|     FAGNER|   168|
|Argentina|    20|      FW|    AGÜERO|   172|Brazil|    20|      FW|    FIRMINO|   181|
|Argentina|    10|      FW|   HIGUAÍN|   184|Brazil|    10|      FW|  NEYMAR JR|   175|
|Argentina|    12|      MF|  DI MARÍA|   178|Brazil|    12|      DF|    MARCELO|   174|
|Argentina|    21|      MF|  LO CELSO|   177|Brazil|    21|      FW|     TAISON|   172|
|Argentina|    14|      MF|      MEZA|   180|Brazil|    14|      DF|     DANILO|   184|
|Argentina|     9|      DF|     ACUÑA|   172|Brazil|     9|      FW|   G. JESUS|   175|
|Argentina|     3|      DF|   MERCADO|   181|Brazil|     3|      DF|    MIRANDA|   186|
|Argentina|    18|      DF|  OTAMENDI|   181|Brazil|    18|      MF|       FRED|   169|
|Argentina|    17|      DF|      ROJO|   189|Brazil|    17|      MF|FERNANDINHO|   179|
|Argentina|     7|      DF|     FAZIO|   199|Brazil|     7|      FW|   D. COSTA|   182|
|Argentina|    13|      GK|    ARMANI|   189|Brazil|    13|      DF| MARQUINHOS|   183|
|Argentina|     2|      GK|    GUZMÁN|   192|Brazil|     2|      DF|   T. SILVA|   183|
+---------+------+--------+----------+------+------+------+--------+-----------+------+

In [70]:
# Count the number of rows in the resulting DataFrame from the join
# - count(): returns the total number of rows in the DataFrame `new_df`
new_df.count()

22

### Left Join

Shows all DataFrame Data on the LEFT side

*obs:* Values ​​on the right side that do not match will be shown as null

In [71]:
# Perform a left join between the "arg" DataFrame (Argentina) and the "bra" DataFrame (Brazil) with an explicit join type
# - join(bra, arg["Number"] == bra["Number"], "left"): performs a left join between the two DataFrames on the "Number" column,
#   explicitly specifying the join type as "left". This means that all rows from the left DataFrame ("arg") will be included in the result,
#   and matching rows from the right DataFrame ("bra") will be included where available. Rows from the left DataFrame without a match
#   in the right DataFrame will have null values for columns from the right DataFrame.
# - new_df: stores the resulting DataFrame after the join
# - show(23): displays the first 23 rows of the joined DataFrame to provide an overview of the results
new_df = arg.join(bra, arg["Number"] == bra["Number"], "left")
new_df.show(23)

+---------+------+--------+----------+------+------+------+--------+-----------+------+
|     Team|Number|Position|Shirt Name|Height|  Team|Number|Position| Shirt Name|Height|
+---------+------+--------+----------+------+------+------+--------+-----------+------+
|Argentina|     4|      DF|TAGLIAFICO|   169|Brazil|     4|      DF|    GEROMEL|   190|
|Argentina|    23|      MF|     PAVÓN|   169|Brazil|    23|      GK|    EDERSON|   188|
|Argentina|    16|      MF|   LANZINI|   167|Brazil|    16|      GK|     CASSIO|   195|
|Argentina|    19|      DF|    SALVIO|   167|Brazil|    19|      MF|    WILLIAN|   175|
|Argentina|    11|      FW|     MESSI|   170|Brazil|    11|      MF|P. COUTINHO|   172|
|Argentina|     5|      DF|   ANSALDI|   181|Brazil|     5|      MF|   CASEMIRO|   185|
|Argentina|     6|      MF|    BIGLIA|   175|Brazil|     6|      DF|FILIPE LUIS|   182|
|Argentina|     8|      MF|    BANEGA|   175|Brazil|     8|      MF| R. AUGUSTO|   186|
|Argentina|    15|      DF|MASCHERANO|   174|Brazil|    15|      MF|   PAULINHO|   181|
|Argentina|    22|      FW|    DYBALA|   177|Brazil|    22|      DF|     FAGNER|   168|
|Argentina|    20|      FW|    AGÜERO|   172|Brazil|    20|      FW|    FIRMINO|   181|
|Argentina|    10|      FW|   HIGUAÍN|   184|Brazil|    10|      FW|  NEYMAR JR|   175|
|Argentina|    12|      MF|  DI MARÍA|   178|Brazil|    12|      DF|    MARCELO|   174|
|Argentina|    21|      MF|  LO CELSO|   177|Brazil|    21|      FW|     TAISON|   172|
|Argentina|    14|      MF|      MEZA|   180|Brazil|    14|      DF|     DANILO|   184|
|Argentina|     9|      DF|     ACUÑA|   172|Brazil|     9|      FW|   G. JESUS|   175|
|Argentina|    24|      GK| CABALLERO|   186|  NULL|  NULL|    NULL|       NULL|  NULL|
|Argentina|     3|      DF|   MERCADO|   181|Brazil|     3|      DF|    MIRANDA|   186|
|Argentina|    18|      DF|  OTAMENDI|   181|Brazil|    18|      MF|       FRED|   169|
|Argentina|    17|      DF|      ROJO|   189|Brazil|    17|      MF|FERNANDINHO|   179|
|Argentina|     7|      DF|     FAZIO|   199|Brazil|     7|      FW|   D. COSTA|   182|
|Argentina|    13|      GK|    ARMANI|   189|Brazil|    13|      DF| MARQUINHOS|   183|
|Argentina|     2|      GK|    GUZMÁN|   192|Brazil|     2|      DF|   T. SILVA|   183|
+---------+------+--------+----------+------+------+------+--------+-----------+------+

In [72]:
# Count the number of rows in the resulting DataFrame from the join
# - count(): returns the total number of rows in the DataFrame `new_df`
new_df.count()

23

### Right Join

Shows all DataFrame Data on the RIGHT side

*obs:* Values ​​on the left side that do not match will be shown as null

In [73]:
# Perform a right join between the "arg" DataFrame (Argentina) and the "bra" DataFrame (Brazil) with an explicit join type
# - join(bra, arg["Number"] == bra["Number"], "right"): performs a right join between the two DataFrames on the "Number" column,
#   explicitly specifying the join type as "right". This means that all rows from the right DataFrame ("bra") will be included in the result,
#   and matching rows from the left DataFrame ("arg") will be included where available. Rows from the right DataFrame without a match
#   in the left DataFrame will have null values for columns from the left DataFrame.
# - new_df: stores the resulting DataFrame after the join
# - show(23): displays the first 23 rows of the joined DataFrame to provide an overview of the results
new_df = arg.join(bra, arg["Number"] == bra["Number"], "right")
new_df.show(23)

+---------+------+--------+----------+------+------+------+--------+-----------+------+
|     Team|Number|Position|Shirt Name|Height|  Team|Number|Position| Shirt Name|Height|
+---------+------+--------+----------+------+------+------+--------+-----------+------+
|Argentina|    18|      DF|  OTAMENDI|   181|Brazil|    18|      MF|       FRED|   169|
|Argentina|    21|      MF|  LO CELSO|   177|Brazil|    21|      FW|     TAISON|   172|
|Argentina|    17|      DF|      ROJO|   189|Brazil|    17|      MF|FERNANDINHO|   179|
|Argentina|    22|      FW|    DYBALA|   177|Brazil|    22|      DF|     FAGNER|   168|
|Argentina|    10|      FW|   HIGUAÍN|   184|Brazil|    10|      FW|  NEYMAR JR|   175|
|Argentina|    11|      FW|     MESSI|   170|Brazil|    11|      MF|P. COUTINHO|   172|
|Argentina|     7|      DF|     FAZIO|   199|Brazil|     7|      FW|   D. COSTA|   182|
|Argentina|     6|      MF|    BIGLIA|   175|Brazil|     6|      DF|FILIPE LUIS|   182|
|Argentina|     9|      DF|     ACUÑA|   172|Brazil|     9|      FW|   G. JESUS|   175|
|Argentina|    13|      GK|    ARMANI|   189|Brazil|    13|      DF| MARQUINHOS|   183|
|Argentina|    20|      FW|    AGÜERO|   172|Brazil|    20|      FW|    FIRMINO|   181|
|Argentina|    19|      DF|    SALVIO|   167|Brazil|    19|      MF|    WILLIAN|   175|
|Argentina|     3|      DF|   MERCADO|   181|Brazil|     3|      DF|    MIRANDA|   186|
|Argentina|    14|      MF|      MEZA|   180|Brazil|    14|      DF|     DANILO|   184|
|Argentina|     2|      GK|    GUZMÁN|   192|Brazil|     2|      DF|   T. SILVA|   183|
|Argentina|    12|      MF|  DI MARÍA|   178|Brazil|    12|      DF|    MARCELO|   174|
|Argentina|    15|      DF|MASCHERANO|   174|Brazil|    15|      MF|   PAULINHO|   181|
|Argentina|     4|      DF|TAGLIAFICO|   169|Brazil|     4|      DF|    GEROMEL|   190|
|Argentina|     5|      DF|   ANSALDI|   181|Brazil|     5|      MF|   CASEMIRO|   185|
|Argentina|     8|      MF|    BANEGA|   175|Brazil|     8|      MF| R. AUGUSTO|   186|
|Argentina|    23|      MF|     PAVÓN|   169|Brazil|    23|      GK|    EDERSON|   188|
|     NULL|  NULL|    NULL|      NULL|  NULL|Brazil|     1|      GK|  A. BECKER|   193|
|Argentina|    16|      MF|   LANZINI|   167|Brazil|    16|      GK|     CASSIO|   195|
+---------+------+--------+----------+------+------+------+--------+-----------+------+

In [74]:
# Count the number of rows in the resulting DataFrame from the join
# - count(): returns the total number of rows in the DataFrame `new_df`
new_df.count()

23

### Full Join

All lines will be shown

*obs:* Values ​​that do not match will be shown as null on both sides

In [75]:
# Perform a full outer join between the "arg" DataFrame (Argentina) and the "bra" DataFrame (Brazil) with an explicit join type
# - join(bra, arg["Number"] == bra["Number"], "full"): performs a full outer join between the two DataFrames on the "Number" column,
#   explicitly specifying the join type as "full". This means that all rows from both DataFrames will be included in the result,
#   with matching rows from both DataFrames combined where "Number" values match. Rows from either DataFrame that do not have a match
#   in the other DataFrame will have null values for the columns from the DataFrame without a match.
# - new_df: stores the resulting DataFrame after the join
# - show(24): displays the first 24 rows of the joined DataFrame to provide an overview of the results
new_df = arg.join(bra, arg["Number"] == bra["Number"], "full")
new_df.show(24)

+---------+------+--------+----------+------+------+------+--------+-----------+------+
|     Team|Number|Position|Shirt Name|Height|  Team|Number|Position| Shirt Name|Height|
+---------+------+--------+----------+------+------+------+--------+-----------+------+
|     NULL|  NULL|    NULL|      NULL|  NULL|Brazil|     1|      GK|  A. BECKER|   193|
|Argentina|     2|      GK|    GUZMÁN|   192|Brazil|     2|      DF|   T. SILVA|   183|
|Argentina|     3|      DF|   MERCADO|   181|Brazil|     3|      DF|    MIRANDA|   186|
|Argentina|     4|      DF|TAGLIAFICO|   169|Brazil|     4|      DF|    GEROMEL|   190|
|Argentina|     5|      DF|   ANSALDI|   181|Brazil|     5|      MF|   CASEMIRO|   185|
|Argentina|     6|      MF|    BIGLIA|   175|Brazil|     6|      DF|FILIPE LUIS|   182|
|Argentina|     7|      DF|     FAZIO|   199|Brazil|     7|      FW|   D. COSTA|   182|
|Argentina|     8|      MF|    BANEGA|   175|Brazil|     8|      MF| R. AUGUSTO|   186|
|Argentina|     9|      DF|     ACUÑA|   172|Brazil|     9|      FW|   G. JESUS|   175|
|Argentina|    10|      FW|   HIGUAÍN|   184|Brazil|    10|      FW|  NEYMAR JR|   175|
|Argentina|    11|      FW|     MESSI|   170|Brazil|    11|      MF|P. COUTINHO|   172|
|Argentina|    12|      MF|  DI MARÍA|   178|Brazil|    12|      DF|    MARCELO|   174|
|Argentina|    13|      GK|    ARMANI|   189|Brazil|    13|      DF| MARQUINHOS|   183|
|Argentina|    14|      MF|      MEZA|   180|Brazil|    14|      DF|     DANILO|   184|
|Argentina|    15|      DF|MASCHERANO|   174|Brazil|    15|      MF|   PAULINHO|   181|
|Argentina|    16|      MF|   LANZINI|   167|Brazil|    16|      GK|     CASSIO|   195|
|Argentina|    17|      DF|      ROJO|   189|Brazil|    17|      MF|FERNANDINHO|   179|
|Argentina|    18|      DF|  OTAMENDI|   181|Brazil|    18|      MF|       FRED|   169|
|Argentina|    19|      DF|    SALVIO|   167|Brazil|    19|      MF|    WILLIAN|   175|
|Argentina|    20|      FW|    AGÜERO|   172|Brazil|    20|      FW|    FIRMINO|   181|
|Argentina|    21|      MF|  LO CELSO|   177|Brazil|    21|      FW|     TAISON|   172|
|Argentina|    22|      FW|    DYBALA|   177|Brazil|    22|      DF|     FAGNER|   168|
|Argentina|    23|      MF|     PAVÓN|   169|Brazil|    23|      GK|    EDERSON|   188|
|Argentina|    24|      GK| CABALLERO|   186|  NULL|  NULL|    NULL|       NULL|  NULL|
+---------+------+--------+----------+------+------+------+--------+-----------+------+

In [76]:
# Count the number of rows in the resulting DataFrame from the join
# - count(): returns the total number of rows in the DataFrame `new_df`
new_df.count()

24

### Semi Join

Similar to Inner Join, but only data from the left DataFrame is shown

In [77]:
# Perform a semi join between the "arg" DataFrame (Argentina) and the "bra" DataFrame (Brazil) with an explicit join type
# - join(bra, arg["Number"] == bra["Number"], "semi"): performs a semi join between the two DataFrames on the "Number" column,
#   explicitly specifying the join type as "semi". This join returns only the rows from the left DataFrame ("arg") where there is
#   at least one matching row in the right DataFrame ("bra") based on the "Number" column. It does not include columns from the right DataFrame.
# - new_df: stores the resulting DataFrame after the join
# - show(23): displays the first 23 rows of the joined DataFrame to provide an overview of the results
new_df = arg.join(bra, arg["Number"] == bra["Number"], "semi")
new_df.show(23)

+---------+------+--------+----------+------+
|     Team|Number|Position|Shirt Name|Height|
+---------+------+--------+----------+------+
|Argentina|     4|      DF|TAGLIAFICO|   169|
|Argentina|    23|      MF|     PAVÓN|   169|
|Argentina|    16|      MF|   LANZINI|   167|
|Argentina|    19|      DF|    SALVIO|   167|
|Argentina|    11|      FW|     MESSI|   170|
|Argentina|     5|      DF|   ANSALDI|   181|
|Argentina|     6|      MF|    BIGLIA|   175|
|Argentina|     8|      MF|    BANEGA|   175|
|Argentina|    15|      DF|MASCHERANO|   174|
|Argentina|    22|      FW|    DYBALA|   177|
|Argentina|    20|      FW|    AGÜERO|   172|
|Argentina|    10|      FW|   HIGUAÍN|   184|
|Argentina|    12|      MF|  DI MARÍA|   178|
|Argentina|    21|      MF|  LO CELSO|   177|
|Argentina|    14|      MF|      MEZA|   180|
|Argentina|     9|      DF|     ACUÑA|   172|
|Argentina|     3|      DF|   MERCADO|   181|
|Argentina|    18|      DF|  OTAMENDI|   181|
|Argentina|    17|      DF|      ROJO|   189|
|Argentina|     7|      DF|     FAZIO|   199|
|Argentina|    13|      GK|    ARMANI|   189|
|Argentina|     2|      GK|    GUZMÁN|   192|
+---------+------+--------+----------+------+

In [78]:
# Count the number of rows in the resulting DataFrame from the join
# - count(): returns the total number of rows in the DataFrame `new_df`
new_df.count()

22

### Anti Join

Show data from the DataFrame on the left that has NO matches

In [79]:
# Perform an anti join between the "arg" DataFrame (Argentina) and the "bra" DataFrame (Brazil) with an explicit join type
# - join(bra, arg["Number"] == bra["Number"], "anti"): performs an anti join between the two DataFrames on the "Number" column,
#   explicitly specifying the join type as "anti". This join returns only the rows from the left DataFrame ("arg") where there is
#   no matching row in the right DataFrame ("bra") based on the "Number" column. It excludes rows from the left DataFrame that have
#   any matching rows in the right DataFrame.
# - new_df: stores the resulting DataFrame after the join
# - show(23): displays the first 23 rows of the joined DataFrame to provide an overview of the results
new_df = arg.join(bra, arg["Number"] == bra["Number"], "anti")
new_df.show(23)

+---------+------+--------+----------+------+
|     Team|Number|Position|Shirt Name|Height|
+---------+------+--------+----------+------+
|Argentina|    24|      GK| CABALLERO|   186|
+---------+------+--------+----------+------+

In [80]:
# Count the number of rows in the resulting DataFrame from the join
# - count(): returns the total number of rows in the DataFrame `new_df`
new_df.count()

1