# PySpark YouTube Course - Lesson 02

This notebook contains all the materials and notes from the PySpark Course: 'PySpark - Aula 02 - Window Functions - Português - Hands On' by DataDev Academy, available on YouTube. You can find the video [here](https://www.youtube.com/watch?v=MG-QBpEXvjg).

## Summary

- [PySpark YouTube Course - Lesson 02](#pyspark-youtube-course---lesson-02)
  - [Summary](#summary)
  - [Importing PySpark](#importing-pyspark)
  - [Starting PySpark Session](#starting-pyspark-session)
  - [Reading a File](#reading-a-file)
  - [Displaying the DataFrame](#displaying-the-dataframe)
  - [PySpark 01 Changes](#pyspark-01-changes)
  - [Creating Backup](#creating-backup)
  - [Window Ranking Functions](#window-ranking-functions)
    - [Window Function 1 - Number of Rows: `row_number()`](#window-function-1---number-of-rows-row_number)
    - [Window Function 2 - Ranking 1: `rank()`](#window-function-2---ranking-1-rank)
    - [Window Function 3 - Ranking 2: `dense_rank()`](#window-function-3---ranking-2-dense_rank)
    - [Window Function 4 - Percentage Ranking: `percent_rank()`](#window-function-4---percentage-ranking-percent_rank)
    - [Window Function 5 - Division into 'N' Parts: `ntile()`](#window-function-5---division-into-n-parts-ntile)
  - [Window Analytic Functions](#window-analytic-functions)
    - [Window Function 6 - LAG / Offset: `lag()`](#window-function-6---lag--offset-lag)
    - [Window Function 7 - Lead / Offset: `lead()`](#window-function-7---lead--offset-lead)
  - [Aggregations](#aggregations)
    - [GroupBy + AGG 1](#groupby--agg-1)
    - [GroupBy + AGG 2](#groupby--agg-2)
  - [Where (Filter)](#where-filter)
  - [Describe](#describe)
  - [Aggregation Function Using Window Function](#aggregation-function-using-window-function)

## Importing PySpark

In [51]:
# Importing PySpark modules
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window  # Importing window functions

## Starting PySpark Session

In [52]:
# Creating a Spark session
# - master: defines the cluster manager, 'local' means running on a local machine
# - appName: sets the name of your application
spark = SparkSession.builder \
    .master("local") \
    .appName("pyspark-02") \
    .getOrCreate()

## Reading a File

In [53]:
# Reading a CSV file into a DataFrame
# - path: specifies the location of the file
# - header: indicates if the file contains a header row
# - inferSchema: automatically infers the data types of the columns
df = spark.read.csv("./data/wc2018-players.csv", header=True, inferSchema=True)

## Displaying the DataFrame

In [54]:
# - show(5): shows the first 5 rows of the DataFrame
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

## PySpark 01 Changes

In [55]:
# Renaming columns in the DataFrame
# - withColumnRenamed("oldName", "newName"): renames a column from oldName to newName
df = df.withColumnRenamed("Pos.", "Position") \
       .withColumnRenamed("#", "Number")

In [56]:
# Extracting and converting components from the "Birth Date" column
df = df.withColumn("Day", split(col("Birth Date"), "\\.").getItem(0).cast(IntegerType())) \
       .withColumn("Month", split(col("Birth Date"), "\\.").getItem(1).cast(IntegerType())) \
       .withColumn("Year", split(col("Birth Date"), "\\.").getItem(2).cast(IntegerType()))

In [57]:
# Creating a new "Birth" column by concatenating "Year", "Month", and "Day" columns
df = df.withColumn("Birth", concat_ws("-", col("Year"), col("Month"), col("Day")).cast(DateType()))

# Displaying the first 5 rows of the DataFrame to verify the changes
df.show(5)

+---------+------+--------+------------------+----------+----------+--------------------+------+------+---+-----+----+----------+
|     Team|Number|Position| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|
+---------+------+--------+------------------+----------+----------+--------------------+------+------+---+-----+----+----------+
|Argentina|     3|      DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|1992-08-31|
|Argentina|    22|      MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|1996-01-21|
|Argentina|    15|      MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|1993-02-15|
|Argentina|    18|      DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|1990-07-13|
|Argentina|    10|      FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|1987-06-24|
+---------+------+--------+------------------+----------+----------+--------------------+------+------+---+-----+----+----------+
only showing top 5 rows

In [58]:
# Printing the schema of the DataFrame to show the structure and data types of each column
df.printSchema()

root
 |-- Team: string (nullable = true)
 |-- Number: integer (nullable = true)
 |-- Position: string (nullable = true)
 |-- FIFA Popular Name: string (nullable = true)
 |-- Birth Date: string (nullable = true)
 |-- Shirt Name: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Height: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Day: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Birth: date (nullable = true)

In [59]:
# Dropping the "Birth Date" column from the DataFrame
df = df.drop(col("Birth Date"))

# Displaying the first 5 rows of the DataFrame to verify the changes
df.show(5)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|1992-08-31|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|1996-01-21|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|1993-02-15|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|1990-07-13|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|1987-06-24|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+
only showing top 5 rows

## Creating Backup

In [60]:
df2 = df

## Window Ranking Functions

- **Window Function 1 - Number of Rows: `row_number()`**
  - Assigns a unique sequential number to each row within a window partition.

- **Window Function 2 - Ranking 1: `rank()`**
  - Assigns ranks to rows within a partition, with gaps in rank values for ties.

- **Window Function 3 - Ranking 2: `dense_rank()`**
  - Assigns ranks to rows within a partition, without gaps in rank values for ties.

- **Window Function 4 - Percentage Ranking: `percent_rank()`**
  - Calculates the relative rank of each row as a percentage within a partition.

- **Window Function 5 - Division into 'N' Parts: `ntile()`**
  - Distributes rows into a specified number of roughly equal-sized buckets or tiles.

### Window Function 1 - Number of Rows: `row_number()`

In [61]:
# Define the window specification
# - partitionBy(col("Team")): partition the data by the "Team" column, so each team will have its own separate window
# - orderBy(desc(col("Height"))): order the rows within each partition by the "Height" column in descending order
num_line = Window.partitionBy(col("Team")).orderBy(desc(col("Height")))

# Add a new column "Line Number" to the DataFrame
# - row_number(): generates a unique sequential number for each row within the specified window
# - over(num_line): applies the window specification defined above to determine the row number
# This means that within each team, rows will be numbered starting from 1 for the highest height
df.withColumn("Line Number", row_number().over(num_line)).show(50)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+-----------+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|Line Number|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+-----------+
|Argentina|     6|      DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|1987-03-17|          1|
|Argentina|     1|      GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|1986-02-10|          2|
|Argentina|    16|      DF|       ROJO Marcos|      ROJO|Manchester United...|   189|    82| 20|    3|1990|1990-03-20|          3|
|Argentina|    12|      GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|1986-10-16|          4|
|Argentina|    23|      GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|1981-09-28|          5|
|Argentina|     9|      FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|1987-12-10|          6|
|Argentina|     4|      DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|1986-09-20|          7|
|Argentina|     2|      DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|1987-03-18|          8|
|Argentina|    17|      DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|1988-02-12|          9|
|Argentina|    13|      MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|    76| 15|   12|1992|1992-12-15|         10|
|Argentina|    11|      MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|1988-02-14|         11|
|Argentina|    21|      FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|1993-11-15|         12|
|Argentina|    20|      MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|1996-04-09|         13|
|Argentina|     5|      MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|1986-01-30|         14|
|Argentina|     7|      MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|1988-06-29|         15|
|Argentina|    14|      DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|1984-06-08|         16|
|Argentina|    19|      FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|1988-06-02|         17|
|Argentina|     8|      DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|1991-10-28|         18|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|1987-06-24|         19|
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|1992-08-31|         20|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|1996-01-21|         21|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|1993-02-15|         22|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|1990-07-13|         23|
|Australia|    12|      GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|1982-03-19|          1|
|Australia|     9|      FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|    80| 22|    7|1991|1991-07-22|          2|
|Australia|     6|      DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|    83|  8|   12|1989|1989-12-08|          3|
|Australia|    23|      MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|    88| 16|   12|1992|1992-12-16|          4|
|Australia|    15|      MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|    78|  3|    8|1984|1984-08-03|          5|
|Australia|     2|      DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|    85| 28|    4|1994|1994-04-28|          6|
|Australia|    18|      GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|    94| 27|    3|1985|1985-03-27|          7|
|Australia|     1|      GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|    82|  8|    4|1992|1992-04-08|          8|
|Australia|    20|      DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|    76|  5|    1|1992|1992-01-05|          9|
|Australia|     7|      FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|    84|  4|    2|1991|1991-02-04|         10|
|Australia|    10|      FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|    66|  5|   10|1988|1988-10-05|         11|
|Australia|     4|      FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|    76|  6|   12|1979|1979-12-06|         12|
|Australia|    22|      MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|    77|  7|    3|1993|1993-03-07|         13|
|Australia|     3|      DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|    71|  5|    4|1988|1988-04-05|         14|
|Australia|    14|      FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|    72| 29|    7|1993|1993-07-29|         15|
|Australia|     5|      DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|    78|  4|    8|1985|1985-08-04|         16|
|Australia|    11|      FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|    85| 17|   12|1992|1992-12-17|         17|
|Australia|    21|      FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|    72| 10|   11|1992|1992-11-10|         18|
|Australia|     8|      MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|    76| 25|    9|1992|1992-09-25|         19|
|Australia|    13|      MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|    72| 15|    9|1990|1990-09-15|         20|
|Australia|    17|      FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|    73|  4|    1|1999|1999-01-04|         21|
|Australia|    16|      DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|    63| 16|   12|1990|1990-12-16|         22|
|Australia|    19|      DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|    70| 27|    7|1992|1992-07-27|         23|
|  Belgium|     1|      GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|    91| 11|    5|1992|1992-05-11|          1|
|  Belgium|    13|      GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|    86| 25|    6|1992|1992-06-25|          2|
|  Belgium|     8|      MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|    85| 22|   11|1987|1987-11-22|          3|
|  Belgium|    12|      GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|    87|  6|    3|1988|1988-03-06|          4|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+-----------+
only showing top 50 rows

### Window Function 2 - Ranking 1: `rank()`

In [62]:
# Define the window specification
# - partitionBy(col("Team")): partition the data by the "Team" column, so each team will have its own separate window
# - orderBy(desc(col("Height"))): order the rows within each partition by the "Height" column in descending order
rank1 = Window.partitionBy(col("Team")).orderBy(desc(col("Height")))

# Add a new column "Rank" to the DataFrame
# - rank(): assigns a rank to each row within the specified window, with the highest height receiving rank 1
# - over(rank1): applies the window specification defined above to compute the rank
# This means that within each team, rows will be ranked starting from 1 for the highest height
df.withColumn("Rank", rank().over(rank1)).show(50)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|Rank|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
|Argentina|     6|      DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|1987-03-17|   1|
|Argentina|     1|      GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|1986-02-10|   2|
|Argentina|    16|      DF|       ROJO Marcos|      ROJO|Manchester United...|   189|    82| 20|    3|1990|1990-03-20|   3|
|Argentina|    12|      GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|1986-10-16|   3|
|Argentina|    23|      GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|1981-09-28|   5|
|Argentina|     9|      FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|1987-12-10|   6|
|Argentina|     4|      DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|1986-09-20|   7|
|Argentina|     2|      DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|1987-03-18|   7|
|Argentina|    17|      DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|1988-02-12|   7|
|Argentina|    13|      MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|    76| 15|   12|1992|1992-12-15|  10|
|Argentina|    11|      MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|1988-02-14|  11|
|Argentina|    21|      FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|1993-11-15|  12|
|Argentina|    20|      MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|1996-04-09|  12|
|Argentina|     5|      MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|1986-01-30|  14|
|Argentina|     7|      MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|1988-06-29|  14|
|Argentina|    14|      DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|1984-06-08|  16|
|Argentina|    19|      FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|1988-06-02|  17|
|Argentina|     8|      DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|1991-10-28|  17|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|1987-06-24|  19|
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|1992-08-31|  20|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|1996-01-21|  20|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|1993-02-15|  22|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|1990-07-13|  22|
|Australia|    12|      GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|1982-03-19|   1|
|Australia|     9|      FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|    80| 22|    7|1991|1991-07-22|   2|
|Australia|     6|      DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|    83|  8|   12|1989|1989-12-08|   2|
|Australia|    23|      MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|    88| 16|   12|1992|1992-12-16|   4|
|Australia|    15|      MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|    78|  3|    8|1984|1984-08-03|   5|
|Australia|     2|      DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|    85| 28|    4|1994|1994-04-28|   6|
|Australia|    18|      GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|    94| 27|    3|1985|1985-03-27|   6|
|Australia|     1|      GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|    82|  8|    4|1992|1992-04-08|   8|
|Australia|    20|      DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|    76|  5|    1|1992|1992-01-05|   9|
|Australia|     7|      FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|    84|  4|    2|1991|1991-02-04|  10|
|Australia|    10|      FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|    66|  5|   10|1988|1988-10-05|  11|
|Australia|     4|      FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|    76|  6|   12|1979|1979-12-06|  11|
|Australia|    22|      MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|    77|  7|    3|1993|1993-03-07|  11|
|Australia|     3|      DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|    71|  5|    4|1988|1988-04-05|  14|
|Australia|    14|      FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|    72| 29|    7|1993|1993-07-29|  15|
|Australia|     5|      DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|    78|  4|    8|1985|1985-08-04|  15|
|Australia|    11|      FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|    85| 17|   12|1992|1992-12-17|  15|
|Australia|    21|      FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|    72| 10|   11|1992|1992-11-10|  18|
|Australia|     8|      MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|    76| 25|    9|1992|1992-09-25|  18|
|Australia|    13|      MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|    72| 15|    9|1990|1990-09-15|  20|
|Australia|    17|      FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|    73|  4|    1|1999|1999-01-04|  21|
|Australia|    16|      DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|    63| 16|   12|1990|1990-12-16|  22|
|Australia|    19|      DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|    70| 27|    7|1992|1992-07-27|  23|
|  Belgium|     1|      GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|    91| 11|    5|1992|1992-05-11|   1|
|  Belgium|    13|      GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|    86| 25|    6|1992|1992-06-25|   2|
|  Belgium|     8|      MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|    85| 22|   11|1987|1987-11-22|   3|
|  Belgium|    12|      GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|    87|  6|    3|1988|1988-03-06|   4|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
only showing top 50 rows

### Window Function 3 - Ranking 2: `dense_rank()`

In [63]:
# Define the window specification
# - partitionBy(col("Team")): partition the data by the "Team" column, so each team will have its own separate window
# - orderBy(desc(col("Height"))): order the rows within each partition by the "Height" column in descending order
rank2 = Window.partitionBy(col("Team")).orderBy(desc(col("Height")))

# Add a new column "Rank 2" to the DataFrame
# - dense_rank(): assigns a dense rank to each row within the specified window, with the highest height receiving rank 1
# - over(rank2): applies the window specification defined above to compute the dense rank
#   Rows with the same height receive the same rank, and there are no gaps in the rank sequence
df.withColumn("Rank 2", dense_rank().over(rank2)).show(50)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+------+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|Rank 2|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+------+
|Argentina|     6|      DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|1987-03-17|     1|
|Argentina|     1|      GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|1986-02-10|     2|
|Argentina|    16|      DF|       ROJO Marcos|      ROJO|Manchester United...|   189|    82| 20|    3|1990|1990-03-20|     3|
|Argentina|    12|      GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|1986-10-16|     3|
|Argentina|    23|      GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|1981-09-28|     4|
|Argentina|     9|      FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|1987-12-10|     5|
|Argentina|     4|      DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|1986-09-20|     6|
|Argentina|     2|      DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|1987-03-18|     6|
|Argentina|    17|      DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|1988-02-12|     6|
|Argentina|    13|      MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|    76| 15|   12|1992|1992-12-15|     7|
|Argentina|    11|      MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|1988-02-14|     8|
|Argentina|    21|      FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|1993-11-15|     9|
|Argentina|    20|      MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|1996-04-09|     9|
|Argentina|     5|      MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|1986-01-30|    10|
|Argentina|     7|      MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|1988-06-29|    10|
|Argentina|    14|      DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|1984-06-08|    11|
|Argentina|    19|      FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|1988-06-02|    12|
|Argentina|     8|      DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|1991-10-28|    12|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|1987-06-24|    13|
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|1992-08-31|    14|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|1996-01-21|    14|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|1993-02-15|    15|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|1990-07-13|    15|
|Australia|    12|      GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|1982-03-19|     1|
|Australia|     9|      FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|    80| 22|    7|1991|1991-07-22|     2|
|Australia|     6|      DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|    83|  8|   12|1989|1989-12-08|     2|
|Australia|    23|      MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|    88| 16|   12|1992|1992-12-16|     3|
|Australia|    15|      MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|    78|  3|    8|1984|1984-08-03|     4|
|Australia|     2|      DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|    85| 28|    4|1994|1994-04-28|     5|
|Australia|    18|      GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|    94| 27|    3|1985|1985-03-27|     5|
|Australia|     1|      GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|    82|  8|    4|1992|1992-04-08|     6|
|Australia|    20|      DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|    76|  5|    1|1992|1992-01-05|     7|
|Australia|     7|      FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|    84|  4|    2|1991|1991-02-04|     8|
|Australia|    10|      FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|    66|  5|   10|1988|1988-10-05|     9|
|Australia|     4|      FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|    76|  6|   12|1979|1979-12-06|     9|
|Australia|    22|      MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|    77|  7|    3|1993|1993-03-07|     9|
|Australia|     3|      DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|    71|  5|    4|1988|1988-04-05|    10|
|Australia|    14|      FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|    72| 29|    7|1993|1993-07-29|    11|
|Australia|     5|      DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|    78|  4|    8|1985|1985-08-04|    11|
|Australia|    11|      FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|    85| 17|   12|1992|1992-12-17|    11|
|Australia|    21|      FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|    72| 10|   11|1992|1992-11-10|    12|
|Australia|     8|      MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|    76| 25|    9|1992|1992-09-25|    12|
|Australia|    13|      MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|    72| 15|    9|1990|1990-09-15|    13|
|Australia|    17|      FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|    73|  4|    1|1999|1999-01-04|    14|
|Australia|    16|      DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|    63| 16|   12|1990|1990-12-16|    15|
|Australia|    19|      DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|    70| 27|    7|1992|1992-07-27|    16|
|  Belgium|     1|      GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|    91| 11|    5|1992|1992-05-11|     1|
|  Belgium|    13|      GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|    86| 25|    6|1992|1992-06-25|     2|
|  Belgium|     8|      MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|    85| 22|   11|1987|1987-11-22|     3|
|  Belgium|    12|      GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|    87|  6|    3|1988|1988-03-06|     4|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+------+
only showing top 50 rows

### Window Function 4 - Percentage Ranking: `percent_rank()`

In [64]:
# Define the window specification
# - partitionBy(col("Team")): partition the data by the "Team" column, so each team will have its own separate window
# - orderBy(desc(col("Height"))): order the rows within each partition by the "Height" column in descending order
percent = Window.partitionBy(col("Team")).orderBy(desc(col("Height")))

# Add a new column "%" to the DataFrame
# - percent_rank(): calculates the percentage rank for each row within the specified window
# - over(percent): applies the window specification defined above to compute the percentage rank
# This means that within each team, rows will have a percentage rank from 0 to 1, where the highest height gets a rank close to 1
df.withColumn("%", percent_rank().over(percent)).show(50)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+--------------------+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|                   %|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+--------------------+
|Argentina|     6|      DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|1987-03-17|                 0.0|
|Argentina|     1|      GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|1986-02-10|0.045454545454545456|
|Argentina|    16|      DF|       ROJO Marcos|      ROJO|Manchester United...|   189|    82| 20|    3|1990|1990-03-20| 0.09090909090909091|
|Argentina|    12|      GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|1986-10-16| 0.09090909090909091|
|Argentina|    23|      GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|1981-09-28| 0.18181818181818182|
|Argentina|     9|      FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|1987-12-10| 0.22727272727272727|
|Argentina|     4|      DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|1986-09-20|  0.2727272727272727|
|Argentina|     2|      DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|1987-03-18|  0.2727272727272727|
|Argentina|    17|      DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|1988-02-12|  0.2727272727272727|
|Argentina|    13|      MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|    76| 15|   12|1992|1992-12-15|  0.4090909090909091|
|Argentina|    11|      MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|1988-02-14| 0.45454545454545453|
|Argentina|    21|      FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|1993-11-15|                 0.5|
|Argentina|    20|      MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|1996-04-09|                 0.5|
|Argentina|     5|      MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|1986-01-30|  0.5909090909090909|
|Argentina|     7|      MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|1988-06-29|  0.5909090909090909|
|Argentina|    14|      DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|1984-06-08|  0.6818181818181818|
|Argentina|    19|      FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|1988-06-02|  0.7272727272727273|
|Argentina|     8|      DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|1991-10-28|  0.7272727272727273|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|1987-06-24|  0.8181818181818182|
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|1992-08-31|  0.8636363636363636|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|1996-01-21|  0.8636363636363636|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|1993-02-15|  0.9545454545454546|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|1990-07-13|  0.9545454545454546|
|Australia|    12|      GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|1982-03-19|                 0.0|
|Australia|     9|      FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|    80| 22|    7|1991|1991-07-22|0.045454545454545456|
|Australia|     6|      DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|    83|  8|   12|1989|1989-12-08|0.045454545454545456|
|Australia|    23|      MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|    88| 16|   12|1992|1992-12-16| 0.13636363636363635|
|Australia|    15|      MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|    78|  3|    8|1984|1984-08-03| 0.18181818181818182|
|Australia|     2|      DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|    85| 28|    4|1994|1994-04-28| 0.22727272727272727|
|Australia|    18|      GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|    94| 27|    3|1985|1985-03-27| 0.22727272727272727|
|Australia|     1|      GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|    82|  8|    4|1992|1992-04-08|  0.3181818181818182|
|Australia|    20|      DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|    76|  5|    1|1992|1992-01-05| 0.36363636363636365|
|Australia|     7|      FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|    84|  4|    2|1991|1991-02-04|  0.4090909090909091|
|Australia|    10|      FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|    66|  5|   10|1988|1988-10-05| 0.45454545454545453|
|Australia|     4|      FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|    76|  6|   12|1979|1979-12-06| 0.45454545454545453|
|Australia|    22|      MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|    77|  7|    3|1993|1993-03-07| 0.45454545454545453|
|Australia|     3|      DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|    71|  5|    4|1988|1988-04-05|  0.5909090909090909|
|Australia|    14|      FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|    72| 29|    7|1993|1993-07-29|  0.6363636363636364|
|Australia|     5|      DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|    78|  4|    8|1985|1985-08-04|  0.6363636363636364|
|Australia|    11|      FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|    85| 17|   12|1992|1992-12-17|  0.6363636363636364|
|Australia|    21|      FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|    72| 10|   11|1992|1992-11-10|  0.7727272727272727|
|Australia|     8|      MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|    76| 25|    9|1992|1992-09-25|  0.7727272727272727|
|Australia|    13|      MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|    72| 15|    9|1990|1990-09-15|  0.8636363636363636|
|Australia|    17|      FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|    73|  4|    1|1999|1999-01-04|  0.9090909090909091|
|Australia|    16|      DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|    63| 16|   12|1990|1990-12-16|  0.9545454545454546|
|Australia|    19|      DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|    70| 27|    7|1992|1992-07-27|                 1.0|
|  Belgium|     1|      GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|    91| 11|    5|1992|1992-05-11|                 0.0|
|  Belgium|    13|      GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|    86| 25|    6|1992|1992-06-25|0.045454545454545456|
|  Belgium|     8|      MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|    85| 22|   11|1987|1987-11-22| 0.09090909090909091|
|  Belgium|    12|      GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|    87|  6|    3|1988|1988-03-06| 0.13636363636363635|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+--------------------+
only showing top 50 rows

### Window Function 5 - Division into 'N' Parts: `ntile()`

In [65]:
# Define the window specification
# - partitionBy(col("Team")): partition the data by the "Team" column, so each team will have its own separate window
# - orderBy(desc(col("Height"))): order the rows within each partition by the "Height" column in descending order
tile = Window.partitionBy(col("Team")).orderBy(desc(col("Height")))

# Add a new column "Tile" to the DataFrame
# - ntile(5): divides the data within each partition into 5 approximately equal-sized parts (tiles)
# - over(tile): applies the window specification defined above to compute the tile number
# This means that within each team, rows will be divided into 5 groups, where each group (tile) contains roughly the same number of rows
df.withColumn("Tile", ntile(5).over(tile)).show(50)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|Tile|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
|Argentina|     6|      DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|1987-03-17|   1|
|Argentina|     1|      GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|1986-02-10|   1|
|Argentina|    16|      DF|       ROJO Marcos|      ROJO|Manchester United...|   189|    82| 20|    3|1990|1990-03-20|   1|
|Argentina|    12|      GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|1986-10-16|   1|
|Argentina|    23|      GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|1981-09-28|   1|
|Argentina|     9|      FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|1987-12-10|   2|
|Argentina|     4|      DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|1986-09-20|   2|
|Argentina|     2|      DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|1987-03-18|   2|
|Argentina|    17|      DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|1988-02-12|   2|
|Argentina|    13|      MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|    76| 15|   12|1992|1992-12-15|   2|
|Argentina|    11|      MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|1988-02-14|   3|
|Argentina|    21|      FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|1993-11-15|   3|
|Argentina|    20|      MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|1996-04-09|   3|
|Argentina|     5|      MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|1986-01-30|   3|
|Argentina|     7|      MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|1988-06-29|   3|
|Argentina|    14|      DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|1984-06-08|   4|
|Argentina|    19|      FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|1988-06-02|   4|
|Argentina|     8|      DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|1991-10-28|   4|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|1987-06-24|   4|
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|1992-08-31|   5|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|1996-01-21|   5|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|1993-02-15|   5|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|1990-07-13|   5|
|Australia|    12|      GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|1982-03-19|   1|
|Australia|     9|      FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|    80| 22|    7|1991|1991-07-22|   1|
|Australia|     6|      DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|    83|  8|   12|1989|1989-12-08|   1|
|Australia|    23|      MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|    88| 16|   12|1992|1992-12-16|   1|
|Australia|    15|      MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|    78|  3|    8|1984|1984-08-03|   1|
|Australia|     2|      DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|    85| 28|    4|1994|1994-04-28|   2|
|Australia|    18|      GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|    94| 27|    3|1985|1985-03-27|   2|
|Australia|     1|      GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|    82|  8|    4|1992|1992-04-08|   2|
|Australia|    20|      DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|    76|  5|    1|1992|1992-01-05|   2|
|Australia|     7|      FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|    84|  4|    2|1991|1991-02-04|   2|
|Australia|    10|      FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|    66|  5|   10|1988|1988-10-05|   3|
|Australia|     4|      FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|    76|  6|   12|1979|1979-12-06|   3|
|Australia|    22|      MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|    77|  7|    3|1993|1993-03-07|   3|
|Australia|     3|      DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|    71|  5|    4|1988|1988-04-05|   3|
|Australia|    14|      FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|    72| 29|    7|1993|1993-07-29|   3|
|Australia|     5|      DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|    78|  4|    8|1985|1985-08-04|   4|
|Australia|    11|      FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|    85| 17|   12|1992|1992-12-17|   4|
|Australia|    21|      FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|    72| 10|   11|1992|1992-11-10|   4|
|Australia|     8|      MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|    76| 25|    9|1992|1992-09-25|   4|
|Australia|    13|      MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|    72| 15|    9|1990|1990-09-15|   5|
|Australia|    17|      FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|    73|  4|    1|1999|1999-01-04|   5|
|Australia|    16|      DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|    63| 16|   12|1990|1990-12-16|   5|
|Australia|    19|      DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|    70| 27|    7|1992|1992-07-27|   5|
|  Belgium|     1|      GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|    91| 11|    5|1992|1992-05-11|   1|
|  Belgium|    13|      GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|    86| 25|    6|1992|1992-06-25|   1|
|  Belgium|     8|      MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|    85| 22|   11|1987|1987-11-22|   1|
|  Belgium|    12|      GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|    87|  6|    3|1988|1988-03-06|   1|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
only showing top 50 rows

## Window Analytic Functions

- **Window Function 6 - LAG / Offset: `lag()`**
  - Retrieves the value from a previous row in the same column, offset by a specified number of rows within a window partition.

- **Window Function 7 - Lead / Offset: `lead()`**
  - Retrieves the value from a subsequent row in the same column, offset by a specified number of rows within a window partition.

### Window Function 6 - LAG / Offset: `lag()`

In [66]:
# Define the window specification
# - partitionBy(col("Team")): partition the data by the "Team" column, so each team will have its own separate window
# - orderBy(desc(col("Height"))): order the rows within each partition by the "Height" column in descending order
l = Window.partitionBy(col("Team")).orderBy(desc(col("Height")))

# Add a new column "Lag" to the DataFrame
# - lag(col("Height"), 2): shifts the value of the "Height" column by 2 rows within the specified window
# - over(l): applies the window specification defined above to compute the lagged values
# This means that within each team, the "Lag" column will show the height value from 2 rows earlier, relative to the current row's position
df.withColumn("Lag", lag(col("Height"), 2).over(l)).show(50)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth| Lag|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
|Argentina|     6|      DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|1987-03-17|NULL|
|Argentina|     1|      GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|1986-02-10|NULL|
|Argentina|    16|      DF|       ROJO Marcos|      ROJO|Manchester United...|   189|    82| 20|    3|1990|1990-03-20| 199|
|Argentina|    12|      GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|1986-10-16| 192|
|Argentina|    23|      GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|1981-09-28| 189|
|Argentina|     9|      FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|1987-12-10| 189|
|Argentina|     4|      DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|1986-09-20| 186|
|Argentina|     2|      DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|1987-03-18| 184|
|Argentina|    17|      DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|1988-02-12| 181|
|Argentina|    13|      MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|    76| 15|   12|1992|1992-12-15| 181|
|Argentina|    11|      MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|1988-02-14| 181|
|Argentina|    21|      FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|1993-11-15| 180|
|Argentina|    20|      MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|1996-04-09| 178|
|Argentina|     5|      MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|1986-01-30| 177|
|Argentina|     7|      MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|1988-06-29| 177|
|Argentina|    14|      DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|1984-06-08| 175|
|Argentina|    19|      FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|1988-06-02| 175|
|Argentina|     8|      DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|1991-10-28| 174|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|1987-06-24| 172|
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|1992-08-31| 172|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|1996-01-21| 170|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|1993-02-15| 169|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|1990-07-13| 169|
|Australia|    12|      GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|1982-03-19|NULL|
|Australia|     9|      FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|    80| 22|    7|1991|1991-07-22|NULL|
|Australia|     6|      DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|    83|  8|   12|1989|1989-12-08| 193|
|Australia|    23|      MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|    88| 16|   12|1992|1992-12-16| 190|
|Australia|    15|      MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|    78|  3|    8|1984|1984-08-03| 190|
|Australia|     2|      DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|    85| 28|    4|1994|1994-04-28| 189|
|Australia|    18|      GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|    94| 27|    3|1985|1985-03-27| 188|
|Australia|     1|      GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|    82|  8|    4|1992|1992-04-08| 187|
|Australia|    20|      DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|    76|  5|    1|1992|1992-01-05| 187|
|Australia|     7|      FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|    84|  4|    2|1991|1991-02-04| 184|
|Australia|    10|      FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|    66|  5|   10|1988|1988-10-05| 183|
|Australia|     4|      FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|    76|  6|   12|1979|1979-12-06| 181|
|Australia|    22|      MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|    77|  7|    3|1993|1993-03-07| 180|
|Australia|     3|      DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|    71|  5|    4|1988|1988-04-05| 180|
|Australia|    14|      FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|    72| 29|    7|1993|1993-07-29| 180|
|Australia|     5|      DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|    78|  4|    8|1985|1985-08-04| 179|
|Australia|    11|      FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|    85| 17|   12|1992|1992-12-17| 178|
|Australia|    21|      FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|    72| 10|   11|1992|1992-11-10| 178|
|Australia|     8|      MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|    76| 25|    9|1992|1992-09-25| 178|
|Australia|    13|      MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|    72| 15|    9|1990|1990-09-15| 176|
|Australia|    17|      FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|    73|  4|    1|1999|1999-01-04| 176|
|Australia|    16|      DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|    63| 16|   12|1990|1990-12-16| 173|
|Australia|    19|      DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|    70| 27|    7|1992|1992-07-27| 171|
|  Belgium|     1|      GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|    91| 11|    5|1992|1992-05-11|NULL|
|  Belgium|    13|      GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|    86| 25|    6|1992|1992-06-25|NULL|
|  Belgium|     8|      MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|    85| 22|   11|1987|1987-11-22| 199|
|  Belgium|    12|      GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|    87|  6|    3|1988|1988-03-06| 197|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
only showing top 50 rows

### Window Function 7 - Lead / Offset: `lead()`

In [67]:
# Define the window specification
# - partitionBy(col("Team")): partition the data by the "Team" column, so each team will have its own separate window
# - orderBy(desc(col("Height"))): order the rows within each partition by the "Height" column in descending order
l = Window.partitionBy(col("Team")).orderBy(desc(col("Height")))

# Add a new column "Lead" to the DataFrame
# - lead(col("Height")): shifts the value of the "Height" column by 1 row within the specified window
# - over(l): applies the window specification defined above to compute the lead values
# This means that within each team, the "Lead" column will show the height value from 1 row ahead, relative to the current row's position
df.withColumn("Lead", lead(col("Height")).over(l)).show(50)

+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
|     Team|Number|Position| FIFA Popular Name|Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|Lead|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
|Argentina|     6|      DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|1987-03-17| 192|
|Argentina|     1|      GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|    90| 10|    2|1986|1986-02-10| 189|
|Argentina|    16|      DF|       ROJO Marcos|      ROJO|Manchester United...|   189|    82| 20|    3|1990|1990-03-20| 189|
|Argentina|    12|      GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|    85| 16|   10|1986|1986-10-16| 186|
|Argentina|    23|      GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|    80| 28|    9|1981|1981-09-28| 184|
|Argentina|     9|      FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|    75| 10|   12|1987|1987-12-10| 181|
|Argentina|     4|      DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|    73| 20|    9|1986|1986-09-20| 181|
|Argentina|     2|      DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|    81| 18|    3|1987|1987-03-18| 181|
|Argentina|    17|      DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|    81| 12|    2|1988|1988-02-12| 180|
|Argentina|    13|      MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|    76| 15|   12|1992|1992-12-15| 178|
|Argentina|    11|      MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|    75| 14|    2|1988|1988-02-14| 177|
|Argentina|    21|      FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|    73| 15|   11|1993|1993-11-15| 177|
|Argentina|    20|      MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|    75|  9|    4|1996|1996-04-09| 175|
|Argentina|     5|      MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|    73| 30|    1|1986|1986-01-30| 175|
|Argentina|     7|      MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|    73| 29|    6|1988|1988-06-29| 174|
|Argentina|    14|      DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|    73|  8|    6|1984|1984-06-08| 172|
|Argentina|    19|      FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|    74|  2|    6|1988|1988-06-02| 172|
|Argentina|     8|      DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|    77| 28|   10|1991|1991-10-28| 170|
|Argentina|    10|      FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|    72| 24|    6|1987|1987-06-24| 169|
|Argentina|     3|      DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|    65| 31|    8|1992|1992-08-31| 169|
|Argentina|    22|      MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|    65| 21|    1|1996|1996-01-21| 167|
|Argentina|    15|      MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|    66| 15|    2|1993|1993-02-15| 167|
|Argentina|    18|      DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|    69| 13|    7|1990|1990-07-13|NULL|
|Australia|    12|      GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|1982-03-19| 190|
|Australia|     9|      FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|    80| 22|    7|1991|1991-07-22| 190|
|Australia|     6|      DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|    83|  8|   12|1989|1989-12-08| 189|
|Australia|    23|      MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|    88| 16|   12|1992|1992-12-16| 188|
|Australia|    15|      MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|    78|  3|    8|1984|1984-08-03| 187|
|Australia|     2|      DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|    85| 28|    4|1994|1994-04-28| 187|
|Australia|    18|      GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|    94| 27|    3|1985|1985-03-27| 184|
|Australia|     1|      GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|    82|  8|    4|1992|1992-04-08| 183|
|Australia|    20|      DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|    76|  5|    1|1992|1992-01-05| 181|
|Australia|     7|      FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|    84|  4|    2|1991|1991-02-04| 180|
|Australia|    10|      FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|    66|  5|   10|1988|1988-10-05| 180|
|Australia|     4|      FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|    76|  6|   12|1979|1979-12-06| 180|
|Australia|    22|      MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|    77|  7|    3|1993|1993-03-07| 179|
|Australia|     3|      DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|    71|  5|    4|1988|1988-04-05| 178|
|Australia|    14|      FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|    72| 29|    7|1993|1993-07-29| 178|
|Australia|     5|      DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|    78|  4|    8|1985|1985-08-04| 178|
|Australia|    11|      FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|    85| 17|   12|1992|1992-12-17| 176|
|Australia|    21|      FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|    72| 10|   11|1992|1992-11-10| 176|
|Australia|     8|      MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|    76| 25|    9|1992|1992-09-25| 173|
|Australia|    13|      MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|    72| 15|    9|1990|1990-09-15| 171|
|Australia|    17|      FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|    73|  4|    1|1999|1999-01-04| 170|
|Australia|    16|      DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|    63| 16|   12|1990|1990-12-16| 169|
|Australia|    19|      DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|    70| 27|    7|1992|1992-07-27|NULL|
|  Belgium|     1|      GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|    91| 11|    5|1992|1992-05-11| 197|
|  Belgium|    13|      GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|    86| 25|    6|1992|1992-06-25| 194|
|  Belgium|     8|      MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|    85| 22|   11|1987|1987-11-22| 193|
|  Belgium|    12|      GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|    87|  6|    3|1988|1988-03-06| 190|
+---------+------+--------+------------------+----------+--------------------+------+------+---+-----+----+----------+----+
only showing top 50 rows

## Aggregations

### GroupBy + AGG 1

In [68]:
# Group by the "Team" column and calculate the average of the "Height" column
# - groupBy(col("Team")): groups the data by the "Team" column, creating a separate group for each team
# - agg({"Height": "avg"}): computes the average of the "Height" column for each group. The result will be a new column named "avg(Height)"
# - orderBy(col("avg(Height)"), ascending=False): sorts the groups by the average height in descending order
#   This ensures that teams with higher average heights appear first in the result
df.groupBy(col("Team")).agg({"Height": "avg"}) \
   .orderBy(col("avg(Height)"), ascending=False) \
   .show(50)

+--------------+------------------+
|          Team|       avg(Height)|
+--------------+------------------+
|        Serbia|186.69565217391303|
|       Denmark| 186.6086956521739|
|       Germany| 185.7826086956522|
|        Sweden| 185.7391304347826|
|       Iceland|185.52173913043478|
|       Belgium|185.34782608695653|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|       IR Iran|184.47826086956522|
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        France|183.30434782608697|
|        Poland|183.17391304347825|
|       Tunisia|183.08695652173913|
|   Switzerland|182.91304347826087|
|       England| 182.7391304347826|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|Korea Republic| 181.8695652173913|
|       Uruguay|181.04347826086956|
|         Egypt|             181.0|
|     Australia| 180.8695652173913|
|        Brazil| 180.7826086956522|
|      Colombia| 180.7826086956522|
|    Costa Rica|180.69565217391303|
|         Spain|179.91304347826087|
|        Mexico| 179.7826086956522|
|      Portugal| 179.7391304347826|
|         Japan| 178.7826086956522|
|     Argentina|178.43478260869566|
|  Saudi Arabia|177.65217391304347|
|          Peru| 177.6086956521739|
+--------------+------------------+

### GroupBy + AGG 2

In [69]:
# Group by the "Team" column and calculate the average of the "Height" column
# - groupBy(col("Team")): groups the data by the "Team" column, creating a separate group for each team
# - agg(avg(col("Height")).alias("avg_Height")): computes the average of the "Height" column for each group
#   - avg(col("Height")): calculates the average height within each team
#   - alias("avg_Height"): renames the resulting average column to "avg_Height" for clarity
# - orderBy(col("avg_Height"), ascending=False): sorts the groups by the average height in descending order
#   This ensures that teams with higher average heights appear first in the result
df.groupBy(col("Team")).agg(avg(col("Height")).alias("avg_Height")) \
   .orderBy(col("avg_Height"), ascending=False) \
   .show(50)

+--------------+------------------+
|          Team|        avg_Height|
+--------------+------------------+
|        Serbia|186.69565217391303|
|       Denmark| 186.6086956521739|
|       Germany| 185.7826086956522|
|        Sweden| 185.7391304347826|
|       Iceland|185.52173913043478|
|       Belgium|185.34782608695653|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|       IR Iran|184.47826086956522|
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        France|183.30434782608697|
|        Poland|183.17391304347825|
|       Tunisia|183.08695652173913|
|   Switzerland|182.91304347826087|
|       England| 182.7391304347826|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|Korea Republic| 181.8695652173913|
|       Uruguay|181.04347826086956|
|         Egypt|             181.0|
|     Australia| 180.8695652173913|
|        Brazil| 180.7826086956522|
|      Colombia| 180.7826086956522|
|    Costa Rica|180.69565217391303|
|         Spain|179.91304347826087|
|        Mexico| 179.7826086956522|
|      Portugal| 179.7391304347826|
|         Japan| 178.7826086956522|
|     Argentina|178.43478260869566|
|  Saudi Arabia|177.65217391304347|
|          Peru| 177.6086956521739|
+--------------+------------------+

## Where (Filter)

In [70]:
# Filter the DataFrame to include only rows where the "Team" column is "Brazil"
# - filter(col("Team") == "Brazil"): selects rows where the value in the "Team" column is equal to "Brazil"
# - show(25): displays the first 25 rows of the filtered DataFrame
df.filter(col("Team") == "Brazil").show(25)

+------+------+--------+-----------------+-----------+--------------------+------+------+---+-----+----+----------+
|  Team|Number|Position|FIFA Popular Name| Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|
+------+------+--------+-----------------+-----------+--------------------+------+------+---+-----+----+----------+
|Brazil|    18|      MF|             FRED|       FRED|FC Shakhtar Donet...|   169|    64|  5|    3|1993|1993-03-05|
|Brazil|    21|      FW|           TAISON|     TAISON|FC Shakhtar Donet...|   172|    64| 13|    1|1988|1988-01-13|
|Brazil|    17|      MF|      FERNANDINHO|FERNANDINHO|Manchester City F...|   179|    67|  4|    5|1985|1985-05-04|
|Brazil|    22|      DF|           FAGNER|     FAGNER|SC Corinthians (BRA)|   168|    67| 11|    6|1989|1989-06-11|
|Brazil|    10|      FW|           NEYMAR|  NEYMAR JR|Paris Saint-Germa...|   175|    68|  5|    2|1992|1992-02-05|
|Brazil|    11|      MF|PHILIPPE COUTINHO|P. COUTINHO|  FC Barcelona (ESP)|   172|    68| 12|    6|1992|1992-06-12|
|Brazil|     7|      FW|    DOUGLAS COSTA|   D. COSTA|   Juventus FC (ITA)|   182|    70| 14|    9|1990|1990-09-14|
|Brazil|     6|      DF|      FILIPE LUIS|FILIPE LUIS|Atletico Madrid (...|   182|    73|  9|    8|1985|1985-08-09|
|Brazil|     9|      FW|    GABRIEL JESUS|   G. JESUS|Manchester City F...|   175|    73|  3|    4|1997|1997-04-03|
|Brazil|    13|      DF|       MARQUINHOS| MARQUINHOS|Paris Saint-Germa...|   183|    75| 14|    5|1994|1994-05-14|
|Brazil|    20|      FW|  ROBERTO FIRMINO|    FIRMINO|  Liverpool FC (ENG)|   181|    76|  2|   10|1991|1991-10-02|
|Brazil|    19|      MF|          WILLIAN|    WILLIAN|    Chelsea FC (ENG)|   175|    77|  9|    8|1988|1988-08-09|
|Brazil|     3|      DF|          MIRANDA|    MIRANDA|FC Internazionale...|   186|    78|  7|    9|1984|1984-09-07|
|Brazil|    14|      DF|           DANILO|     DANILO|Manchester City F...|   184|    78| 15|    7|1991|1991-07-15|
|Brazil|     2|      DF|     THIAGO SILVA|   T. SILVA|Paris Saint-Germa...|   183|    79| 22|    9|1984|1984-09-22|
|Brazil|    12|      DF|          MARCELO|    MARCELO|Real Madrid CF (ESP)|   174|    80| 12|    5|1988|1988-05-12|
|Brazil|    15|      MF|         PAULINHO|   PAULINHO|  FC Barcelona (ESP)|   181|    81| 25|    7|1988|1988-07-25|
|Brazil|     4|      DF|    PEDRO GEROMEL|    GEROMEL|   Grêmio FBPA (BRA)|   190|    84| 21|    9|1985|1985-09-21|
|Brazil|     5|      MF|         CASEMIRO|   CASEMIRO|Real Madrid CF (ESP)|   185|    84| 23|    2|1992|1992-02-23|
|Brazil|     8|      MF|   RENATO AUGUSTO| R. AUGUSTO| Beijing Guoan (CHN)|   186|    86|  8|    2|1988|1988-02-08|
|Brazil|    23|      GK|          EDERSON|    EDERSON|Manchester City F...|   188|    86| 17|    8|1993|1993-08-17|
|Brazil|     1|      GK|          ALISSON|  A. BECKER|       AS Roma (ITA)|   193|    91|  2|   10|1992|1992-10-02|
|Brazil|    16|      GK|           CASSIO|     CASSIO|SC Corinthians (BRA)|   195|    92|  6|    6|1987|1987-06-06|
+------+------+--------+-----------------+-----------+--------------------+------+------+---+-----+----+----------+

In [71]:
# Filter the DataFrame to include only rows where the "Team" column is "Brazil"
# - where(col("Team") == "Brazil"): selects rows where the value in the "Team" column is equal to "Brazil"
# - show(25): displays the first 25 rows of the filtered DataFrame
df.where(col("Team") == "Brazil").show(25)

+------+------+--------+-----------------+-----------+--------------------+------+------+---+-----+----+----------+
|  Team|Number|Position|FIFA Popular Name| Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|
+------+------+--------+-----------------+-----------+--------------------+------+------+---+-----+----+----------+
|Brazil|    18|      MF|             FRED|       FRED|FC Shakhtar Donet...|   169|    64|  5|    3|1993|1993-03-05|
|Brazil|    21|      FW|           TAISON|     TAISON|FC Shakhtar Donet...|   172|    64| 13|    1|1988|1988-01-13|
|Brazil|    17|      MF|      FERNANDINHO|FERNANDINHO|Manchester City F...|   179|    67|  4|    5|1985|1985-05-04|
|Brazil|    22|      DF|           FAGNER|     FAGNER|SC Corinthians (BRA)|   168|    67| 11|    6|1989|1989-06-11|
|Brazil|    10|      FW|           NEYMAR|  NEYMAR JR|Paris Saint-Germa...|   175|    68|  5|    2|1992|1992-02-05|
|Brazil|    11|      MF|PHILIPPE COUTINHO|P. COUTINHO|  FC Barcelona (ESP)|   172|    68| 12|    6|1992|1992-06-12|
|Brazil|     7|      FW|    DOUGLAS COSTA|   D. COSTA|   Juventus FC (ITA)|   182|    70| 14|    9|1990|1990-09-14|
|Brazil|     6|      DF|      FILIPE LUIS|FILIPE LUIS|Atletico Madrid (...|   182|    73|  9|    8|1985|1985-08-09|
|Brazil|     9|      FW|    GABRIEL JESUS|   G. JESUS|Manchester City F...|   175|    73|  3|    4|1997|1997-04-03|
|Brazil|    13|      DF|       MARQUINHOS| MARQUINHOS|Paris Saint-Germa...|   183|    75| 14|    5|1994|1994-05-14|
|Brazil|    20|      FW|  ROBERTO FIRMINO|    FIRMINO|  Liverpool FC (ENG)|   181|    76|  2|   10|1991|1991-10-02|
|Brazil|    19|      MF|          WILLIAN|    WILLIAN|    Chelsea FC (ENG)|   175|    77|  9|    8|1988|1988-08-09|
|Brazil|     3|      DF|          MIRANDA|    MIRANDA|FC Internazionale...|   186|    78|  7|    9|1984|1984-09-07|
|Brazil|    14|      DF|           DANILO|     DANILO|Manchester City F...|   184|    78| 15|    7|1991|1991-07-15|
|Brazil|     2|      DF|     THIAGO SILVA|   T. SILVA|Paris Saint-Germa...|   183|    79| 22|    9|1984|1984-09-22|
|Brazil|    12|      DF|          MARCELO|    MARCELO|Real Madrid CF (ESP)|   174|    80| 12|    5|1988|1988-05-12|
|Brazil|    15|      MF|         PAULINHO|   PAULINHO|  FC Barcelona (ESP)|   181|    81| 25|    7|1988|1988-07-25|
|Brazil|     4|      DF|    PEDRO GEROMEL|    GEROMEL|   Grêmio FBPA (BRA)|   190|    84| 21|    9|1985|1985-09-21|
|Brazil|     5|      MF|         CASEMIRO|   CASEMIRO|Real Madrid CF (ESP)|   185|    84| 23|    2|1992|1992-02-23|
|Brazil|     8|      MF|   RENATO AUGUSTO| R. AUGUSTO| Beijing Guoan (CHN)|   186|    86|  8|    2|1988|1988-02-08|
|Brazil|    23|      GK|          EDERSON|    EDERSON|Manchester City F...|   188|    86| 17|    8|1993|1993-08-17|
|Brazil|     1|      GK|          ALISSON|  A. BECKER|       AS Roma (ITA)|   193|    91|  2|   10|1992|1992-10-02|
|Brazil|    16|      GK|           CASSIO|     CASSIO|SC Corinthians (BRA)|   195|    92|  6|    6|1987|1987-06-06|
+------+------+--------+-----------------+-----------+--------------------+------+------+---+-----+----+----------+

In [72]:
# Define the window specification
# - partitionBy(col("Team")): partition the data by the "Team" column, so each team will have its own separate window
# - orderBy(desc(col("Height"))): order the rows within each partition by the "Height" column in descending order
top1 = Window.partitionBy(col("Team")).orderBy(desc(col("Height")))

# Add a new column "Top" with ranking values for each row within the partition
# - rank().over(top1): computes the rank of each row within its partition based on the specified window
# - where(col("Top") == 1): filters the DataFrame to include only the rows where the rank ("Top") is 1
# - show(50): displays the first 50 rows of the filtered DataFrame
df.withColumn("Top", rank().over(top1)).where(col("Top") == 1).show(50)

+--------------+------+--------+-------------------+-------------+--------------------+------+------+---+-----+----+----------+---+
|          Team|Number|Position|  FIFA Popular Name|   Shirt Name|                Club|Height|Weight|Day|Month|Year|     Birth|Top|
+--------------+------+--------+-------------------+-------------+--------------------+------+------+---+-----+----+----------+---+
|     Argentina|     6|      DF|     FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|    85| 17|    3|1987|1987-03-17|  1|
|     Australia|    12|      GK|         JONES Brad|        JONES|Feyenoord Rotterd...|   193|    87| 19|    3|1982|1982-03-19|  1|
|       Belgium|     1|      GK|   COURTOIS Thibaut|     COURTOIS|    Chelsea FC (ENG)|   199|    91| 11|    5|1992|1992-05-11|  1|
|        Brazil|    16|      GK|             CASSIO|       CASSIO|SC Corinthians (BRA)|   195|    92|  6|    6|1987|1987-06-06|  1|
|      Colombia|    13|      DF|         MINA Yerry|      Y. MINA|  FC Barcelona (ESP)|   194|    95| 23|    9|1994|1994-09-23|  1|
|    Costa Rica|    19|      DF|     WASTON Kendall|    K. WASTON|Vancouver Whiteca...|   196|    87|  1|    1|1988|1988-01-01|  1|
|       Croatia|    12|      GK|      KALINIC Lovre|   L. KALINIĆ|      KAA Gent (BEL)|   201|    96|  3|    4|1990|1990-04-03|  1|
|       Denmark|     3|      DF| VESTERGAARD Jannik|  VESTERGAARD|VfL Borussia Mönc...|   200|    98|  3|    8|1992|1992-08-03|  1|
|         Egypt|     6|      DF|       AHMED HEGAZY|    A. HEGAZY|West Bromwich Alb...|   194|    95| 25|    1|1991|1991-01-25|  1|
|       England|    13|      GK|       BUTLAND Jack|      BUTLAND| Stoke City FC (ENG)|   196|    96| 10|    3|1993|1993-03-10|  1|
|        France|    15|      MF|      NZONZI Steven|       NZONZI|    Sevilla FC (ESP)|   197|    87| 15|   12|1988|1988-12-15|  1|
|       Germany|    15|      DF|       SUELE Niklas|         SÜLE|FC Bayern München...|   195|    89|  3|    9|1995|1995-09-03|  1|
|       IR Iran|     1|      GK|     BEIRANVAND Ali|A. BEIRANVAND| Persepolis FC (IRN)|   194|    85| 21|    9|1992|1992-09-21|  1|
|       Iceland|    12|      GK|    SCHRAM Frederik|       SCHRAM|   Roskilde BK (DEN)|   198|    92| 19|    1|1995|1995-01-19|  1|
|         Japan|    22|      DF|       YOSHIDA Maya|      YOSHIDA|Southampton FC (ENG)|   189|    78| 24|    8|1988|1988-08-24|  1|
|Korea Republic|     9|      FW|       KIM Shinwook|      S W KIM|Jeonbuk Hyundai (...|   197|    97| 14|    4|1988|1988-04-14|  1|
|        Mexico|     5|      DF|        REYES Diego|     D. REYES|      FC Porto (POR)|   190|    77| 19|    9|1992|1992-09-19|  1|
|       Morocco|     6|      DF|       SAISS Romain|        SAISS|Wolverhampton Wan...|   190|    76| 26|    3|1990|1990-03-26|  1|
|       Morocco|     1|      GK|     BOUNOU Yassine|       BOUNOU|     Girona FC (ESP)|   190|    77|  5|    4|1991|1991-04-05|  1|
|       Morocco|    13|      FW|     BOUTAIB Khalid|      BOUTAIB|Yeni Malatyaspor ...|   190|    80| 24|    4|1987|1987-04-24|  1|
|       Morocco|    12|      GK|    EL KAJOUI Monir|    EL KAJOUI|   CD Numancia (ESP)|   190|    88| 10|    5|1989|1989-05-10|  1|
|       Nigeria|    13|      FW|     NWANKWO Simeon|      NWANKWO|    FC Crotone (ITA)|   197|    89|  7|    5|1992|1992-05-07|  1|
|        Panama|    22|      GK|     RODRIGUEZ Alex|    RODRIGUEZ|San Francisco FC ...|   197|    83|  5|    8|1990|1990-08-05|  1|
|          Peru|     1|      GK|      GALLESE Pedro|      GALLESE|CD Tiburones Rojo...|   189|    79| 23|    2|1990|1990-02-23|  1|
|        Poland|     1|      GK|  SZCZESNY Wojciech|     SZCZESNY|   Juventus FC (ITA)|   195|    84| 18|    4|1990|1990-04-18|  1|
|      Portugal|     6|      DF|         JOSE FONTE|        FONTE|Dalian Yifang FC ...|   191|    84| 22|   12|1983|1983-12-22|  1|
|        Russia|    22|      FW|       DZYUBA Artem|       DZYUBA|FC Arsenal Tula (...|   196|    90| 22|    8|1988|1988-08-22|  1|
|  Saudi Arabia|    12|      MF|      MOHAMED KANNO|        KANNO|  Al Hilal SFC (KSA)|   192|    73| 22|    9|1994|1994-09-22|  1|
|       Senegal|    23|      GK|       GOMIS Alfred|        GOMIS|  SPAL Ferrara (ITA)|   196|    80|  5|    9|1993|1993-09-05|  1|
|       Senegal|     6|      MF|         SANE Salif|      S. SANE|   Hannover 96 (GER)|   196|    84| 25|    8|1990|1990-08-25|  1|
|        Serbia|    15|      DF|  MILENKOVIC Nikola|   MILENKOVIĆ|ACF Fiorentina (ITA)|   195|    90| 12|   10|1997|1997-10-12|  1|
|        Serbia|     1|      GK| STOJKOVIC Vladimir|    STOJKOVIĆ|   FK Partizan (SRB)|   195|    92| 28|    7|1983|1983-07-28|  1|
|         Spain|     3|      DF|       PIQUE Gerard|        PIQUÉ|  FC Barcelona (ESP)|   194|    85|  2|    2|1987|1987-02-02|  1|
|        Sweden|     1|      GK|        OLSEN Robin|        OLSEN|  FC Kobenhavn (DEN)|   198|    89|  8|    1|1990|1990-01-08|  1|
|   Switzerland|    20|      DF|      DJOUROU Johan|      DJOUROU|Antalyaspor AS (TUR)|   192|    90| 18|    1|1987|1987-01-18|  1|
|       Tunisia|     1|      GK|BEN MUSTAPHA Farouk| BEN MUSTAPHA|  Al Shabab FC (KSA)|   192|    85|  1|    7|1989|1989-07-01|  1|
|       Uruguay|    19|      DF|   COATES Sebastian|       COATES|   Sporting CP (POR)|   196|    89|  7|   10|1990|1990-10-07|  1|
+--------------+------+--------+-------------------+-------------+--------------------+------+------+---+-----+----+----------+---+

## Describe

In [73]:
# Display summary statistics of the DataFrame for numerical columns
# - describe(): computes summary statistics for numerical columns in the DataFrame
# - show(): displays the computed statistics in a tabular format
df.describe().show()

+-------+---------+-----------------+--------+-----------------+----------+--------------------+-----------------+-----------------+------------------+------------------+------------------+
|summary|     Team|           Number|Position|FIFA Popular Name|Shirt Name|                Club|           Height|           Weight|               Day|             Month|              Year|
+-------+---------+-----------------+--------+-----------------+----------+--------------------+-----------------+-----------------+------------------+------------------+------------------+
|  count|      736|              736|     736|              736|       736|                 736|              736|              736|               736|               736|               736|
|   mean|     NULL|             12.0|    NULL|             NULL|      NULL|                NULL|182.4076086956522|77.18885869565217|15.793478260869565|5.8790760869565215| 1990.110054347826|
| stddev|     NULL|6.637760461599851|    NULL|             NULL|      NULL|                NULL|6.930924233929302|7.233778346883639| 8.761123828732469|3.3782493094684387|3.9074472063626775|
|    min|Argentina|                1|      DF|     ABDALLA SAID| A. ASHRAF|    1. FC Köln (GER)|              165|               59|                 1|                 1|              1973|
|    max|  Uruguay|               23|      MF|     ZUBER Steven|  ŽIVKOVIĆ|Étoile du Sahel (...|              201|               99|                31|                12|              1999|
+-------+---------+-----------------+--------+-----------------+----------+--------------------+-----------------+-----------------+------------------+------------------+------------------+

In [74]:
# Filter the DataFrame to include only rows where the "Team" column is "Brazil"
# - where(col("Team") == "Brazil"): selects rows where the value in the "Team" column is equal to "Brazil"
# - describe(): computes summary statistics for numerical columns in the filtered DataFrame
# - show(): displays the computed statistics in a tabular format
df.where(col("Team") == "Brazil").describe().show()

+-------+------+-----------------+--------+-----------------+----------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|  Team|           Number|Position|FIFA Popular Name|Shirt Name|                Club|           Height|           Weight|              Day|            Month|             Year|
+-------+------+-----------------+--------+-----------------+----------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|    23|               23|      23|               23|        23|                  23|               23|               23|               23|               23|               23|
|   mean|  NULL|             12.0|    NULL|             NULL|      NULL|                NULL|180.7826086956522|76.56521739130434|11.26086956521739|6.130434782608695|1989.391304347826|
| stddev|  NULL|6.782329983125267|    NULL|             NULL|      NULL|                NULL|7.354383490255254|8.239737898283606|6.876953549252538|2.784769418006175|3.499858833968506|
|    min|Brazil|                1|      DF|          ALISSON| A. BECKER|       AS Roma (ITA)|              168|               64|                2|                1|             1984|
|    max|Brazil|               23|      MF|          WILLIAN|   WILLIAN|SC Corinthians (BRA)|              195|               92|               25|               10|             1997|
+-------+------+-----------------+--------+-----------------+----------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Aggregation Function Using Window Function

In [75]:
# Define the window specifications
# - param: partitions the data by the "Team" column and orders rows within each partition by "Height" in descending order
# - param2: partitions the data by the "Team" column without any specific order
param = Window.partitionBy(col("Team")).orderBy(desc(col("Height")))
param2 = Window.partitionBy(col("Team"))

# Add columns with aggregated values and filter to include only the top-ranked rows
# - withColumn("lineX", row_number().over(param)): adds a unique sequential number for each row within the team partition, ordered by height
# - withColumn("mean", avg(col("Height")).over(param2)): adds the average height for each team
# - withColumn("max", max(col("Height")).over(param2)): adds the maximum height for each team
# - withColumn("min", min(col("Height")).over(param2)): adds the minimum height for each team
# - where(col("lineX") == 1): filters to include only the top-ranked row by height within each team
# - select(col("Team"), col("mean"), col("max"), col("min")): selects the specified columns for display
# - orderBy(col("mean"), ascending=False): orders teams by average height in descending order
# - show(50): displays the first 50 rows
df.withColumn("lineX", row_number().over(param)) \
   .withColumn("mean", avg(col("Height")).over(param2)) \
   .withColumn("max", max(col("Height")).over(param2)) \
   .withColumn("min", min(col("Height")).over(param2)) \
   .where(col("lineX") == 1) \
   .select(col("Team"), col("mean"), col("max"), col("min")) \
   .orderBy(col("mean"), ascending=False) \
   .show(50)

+--------------+------------------+---+---+
|          Team|              mean|max|min|
+--------------+------------------+---+---+
|        Serbia|186.69565217391303|195|169|
|       Denmark| 186.6086956521739|200|171|
|       Germany| 185.7826086956522|195|176|
|        Sweden| 185.7391304347826|198|177|
|       Iceland|185.52173913043478|198|170|
|       Belgium|185.34782608695653|199|169|
|       Croatia| 185.2608695652174|201|172|
|       Nigeria|184.52173913043478|197|172|
|       IR Iran|184.47826086956522|194|177|
|        Russia| 184.3913043478261|196|173|
|       Senegal|183.65217391304347|196|173|
|        France|183.30434782608697|197|168|
|        Poland|183.17391304347825|195|172|
|       Tunisia|183.08695652173913|192|170|
|   Switzerland|182.91304347826087|192|165|
|       England| 182.7391304347826|196|170|
|       Morocco|182.69565217391303|190|167|
|        Panama|182.17391304347825|197|165|
|Korea Republic| 181.8695652173913|197|170|
|       Uruguay|181.04347826086956|196|168|
|         Egypt|             181.0|194|169|
|     Australia| 180.8695652173913|193|169|
|        Brazil| 180.7826086956522|195|168|
|      Colombia| 180.7826086956522|194|169|
|    Costa Rica|180.69565217391303|196|172|
|         Spain|179.91304347826087|194|170|
|        Mexico| 179.7826086956522|190|166|
|      Portugal| 179.7391304347826|191|168|
|         Japan| 178.7826086956522|189|168|
|     Argentina|178.43478260869566|199|167|
|  Saudi Arabia|177.65217391304347|192|165|
|          Peru| 177.6086956521739|189|169|
+--------------+------------------+---+---+